__pycache__/
*.py[cod]
*$py.class
*.metaflow

build/
dist/
*.egg-info/

.tox/

.ipynb_checkpoints/


R/cran_check/
R/.Rproj.user
R/*.Rproj
R/.Rbuildignore
.Rproj.user

.DS_Store
.env
node_modules
main.js.map

.project
.pydevproject

# Pycharm
.idea

stubs/version.py
