exclude: 'test/core/tests/card_timeout.py'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-yaml
  - repo: https://github.com/ambv/black
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3
        exclude: "^metaflow/_vendor/"
        additional_dependencies: ["click<8.1.0"]
        args: [-t, py34, -t, py35, -t, py36, -t, py37, -t, py38, -t, py39, -t, py310, -t, py311, -t, py312, -t, py313, -t, py314]
