exclude: 'test/core/tests/card_timeout.py'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/ambv/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
        exclude: "^metaflow/_vendor/"
        additional_dependencies: ["click<8.1.0"]
