include LICENSE
include metaflow/plugins/cards/card_modules/*.html
include metaflow/plugins/cards/card_modules/*.js
include metaflow/plugins/cards/card_modules/*.css
include metaflow/plugins/cards/card_viewer/*.html
recursive-include devtools *