{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-04-01",
    "endpointPrefix":"quicksight",
    "jsonVersion":"1.0",
    "protocol":"rest-json",
    "serviceFullName":"Amazon QuickSight",
    "serviceId":"QuickSight",
    "signatureVersion":"v4",
    "uid":"quicksight-2018-04-01"
  },
  "operations":{
    "CancelIngestion":{
      "name":"CancelIngestion",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CancelIngestionRequest"},
      "output":{"shape":"CancelIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Cancels an ongoing ingestion of data into SPICE.</p>"
    },
    "CreateAccountCustomization":{
      "name":"CreateAccountCustomization",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"CreateAccountCustomizationRequest"},
      "output":{"shape":"CreateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Creates Amazon QuickSight customizations the current AWS Region. Currently, you can add a custom default theme by using the <code>CreateAccountCustomization</code> or <code>UpdateAccountCustomization</code> API operation. To further customize QuickSight by removing QuickSight sample assets and videos for all new users, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/customizing-quicksight.html\">Customizing QuickSight</a> in the <i>Amazon QuickSight User Guide.</i> </p> <p>You can create customizations for your AWS account or, if you specify a namespace, for a QuickSight namespace instead. Customizations that apply to a namespace always override customizations that apply to an AWS account. To find out which customizations apply, use the <code>DescribeAccountCustomization</code> API operation.</p> <p>Before you use the <code>CreateAccountCustomization</code> API operation to add a theme as the namespace default, make sure that you first share the theme with the namespace. If you don't share it with the namespace, the theme isn't visible to your users even if you make it the default theme. To check if the theme is shared, view the current permissions by using the <code> <a>DescribeThemePermissions</a> </code> API operation. To share the theme, grant permissions by using the <code> <a>UpdateThemePermissions</a> </code> API operation. </p>"
    },
    "CreateAnalysis":{
      "name":"CreateAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"CreateAnalysisRequest"},
      "output":{"shape":"CreateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates an analysis in Amazon QuickSight.</p>"
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a dashboard from a template. To first create a template, see the <code> <a>CreateTemplate</a> </code> API operation.</p> <p>A dashboard is an entity in QuickSight that identifies QuickSight reports, created from analyses. You can share QuickSight dashboards. With the right permissions, you can create scheduled email reports from them. If you have the correct permissions, you can create a dashboard from a template that exists in a different AWS account.</p>"
    },
    "CreateDataSet":{
      "name":"CreateDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"CreateDataSetRequest"},
      "output":{"shape":"CreateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a dataset.</p>"
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a data source.</p>"
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{"shape":"CreateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Creates an Amazon QuickSight group.</p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;relevant-aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is a group object.</p>"
    },
    "CreateGroupMembership":{
      "name":"CreateGroupMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"CreateGroupMembershipRequest"},
      "output":{"shape":"CreateGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p>"
    },
    "CreateIAMPolicyAssignment":{
      "name":"CreateIAMPolicyAssignment",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input":{"shape":"CreateIAMPolicyAssignmentRequest"},
      "output":{"shape":"CreateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates an assignment with one specified IAM policy, identified by its Amazon Resource Name (ARN). This policy assignment is attached to the specified groups or users of Amazon QuickSight. Assignment names are unique per AWS account. To avoid overwriting rules in other namespaces, use assignment names that are unique.</p>"
    },
    "CreateIngestion":{
      "name":"CreateIngestion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CreateIngestionRequest"},
      "output":{"shape":"CreateIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates and starts a new SPICE ingestion on a dataset</p> <p>Any ingestions operating on tagged datasets inherit the same tags automatically for use in access control. For an example, see <a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/iam-ec2-resource-tags/\">How do I create an IAM policy to control access to Amazon EC2 resources using tags?</a> in the AWS Knowledge Center. Tags are visible on the tagged dataset, but not on the ingestion resource.</p>"
    },
    "CreateNamespace":{
      "name":"CreateNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}"
      },
      "input":{"shape":"CreateNamespaceRequest"},
      "output":{"shape":"CreateNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>(Enterprise edition only) Creates a new namespace for you to use with Amazon QuickSight.</p> <p>A namespace allows you to isolate the QuickSight users and groups that are registered for that namespace. Users that access the namespace can share assets only with other users or groups in the same namespace. They can't see users and groups in other namespaces. You can create a namespace after your AWS account is subscribed to QuickSight. The namespace must be unique within the AWS account. By default, there is a limit of 100 namespaces per AWS account. To increase your limit, create a ticket with AWS Support. </p>"
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"CreateTemplateRequest"},
      "output":{"shape":"CreateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a template from an existing QuickSight analysis or template. You can use the resulting template to create a dashboard.</p> <p>A <i>template</i> is an entity in QuickSight that encapsulates the metadata required to create an analysis and that you can use to create s dashboard. A template adds a layer of abstraction by using placeholders to replace the dataset associated with the analysis. You can use templates to create dashboards by replacing dataset placeholders with datasets that follow the same schema that was used to create the source analysis and template.</p>"
    },
    "CreateTemplateAlias":{
      "name":"CreateTemplateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateTemplateAliasRequest"},
      "output":{"shape":"CreateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a template alias for a template.</p>"
    },
    "CreateTheme":{
      "name":"CreateTheme",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"CreateThemeRequest"},
      "output":{"shape":"CreateThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a theme.</p> <p>A <i>theme</i> is set of configuration options for color and layout. Themes apply to analyses and dashboards. For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/themes-in-quicksight.html\">Using Themes in Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
    },
    "CreateThemeAlias":{
      "name":"CreateThemeAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateThemeAliasRequest"},
      "output":{"shape":"CreateThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a theme alias for a theme.</p>"
    },
    "DeleteAccountCustomization":{
      "name":"DeleteAccountCustomization",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DeleteAccountCustomizationRequest"},
      "output":{"shape":"DeleteAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes all Amazon QuickSight customizations in this AWS Region for the specified AWS account and QuickSight namespace.</p>"
    },
    "DeleteAnalysis":{
      "name":"DeleteAnalysis",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DeleteAnalysisRequest"},
      "output":{"shape":"DeleteAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an analysis from Amazon QuickSight. You can optionally include a recovery window during which you can restore the analysis. If you don't specify a recovery window value, the operation defaults to 30 days. QuickSight attaches a <code>DeletionTime</code> stamp to the response that specifies the end of the recovery window. At the end of the recovery window, QuickSight deletes the analysis permanently.</p> <p>At any time before recovery window ends, you can use the <code>RestoreAnalysis</code> API operation to remove the <code>DeletionTime</code> stamp and cancel the deletion of the analysis. The analysis remains visible in the API until it's deleted, so you can describe it but you can't make a template from it.</p> <p>An analysis that's scheduled for deletion isn't accessible in the QuickSight console. To access it in the console, restore it. Deleting an analysis doesn't delete the dashboards that you publish from it.</p>"
    },
    "DeleteDashboard":{
      "name":"DeleteDashboard",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DeleteDashboardRequest"},
      "output":{"shape":"DeleteDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a dashboard.</p>"
    },
    "DeleteDataSet":{
      "name":"DeleteDataSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DeleteDataSetRequest"},
      "output":{"shape":"DeleteDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a dataset.</p>"
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the data source permanently. This operation breaks all the datasets that reference the deleted data source.</p>"
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Removes a user group from Amazon QuickSight. </p>"
    },
    "DeleteGroupMembership":{
      "name":"DeleteGroupMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DeleteGroupMembershipRequest"},
      "output":{"shape":"DeleteGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Removes a user from a group so that the user is no longer a member of the group.</p>"
    },
    "DeleteIAMPolicyAssignment":{
      "name":"DeleteIAMPolicyAssignment",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DeleteIAMPolicyAssignmentRequest"},
      "output":{"shape":"DeleteIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an existing IAM policy assignment.</p>"
    },
    "DeleteNamespace":{
      "name":"DeleteNamespace",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DeleteNamespaceRequest"},
      "output":{"shape":"DeleteNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes a namespace and the users and groups that are associated with the namespace. This is an asynchronous process. Assets including dashboards, analyses, datasets and data sources are not deleted. To delete these assets, you use the API operations for the relevant asset. </p>"
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DeleteTemplateRequest"},
      "output":{"shape":"DeleteTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a template.</p>"
    },
    "DeleteTemplateAlias":{
      "name":"DeleteTemplateAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteTemplateAliasRequest"},
      "output":{"shape":"DeleteTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the item that the specified template alias points to. If you provide a specific alias, you delete the version of the template that the alias points to.</p>"
    },
    "DeleteTheme":{
      "name":"DeleteTheme",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DeleteThemeRequest"},
      "output":{"shape":"DeleteThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a theme.</p>"
    },
    "DeleteThemeAlias":{
      "name":"DeleteThemeAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteThemeAliasRequest"},
      "output":{"shape":"DeleteThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the version of the theme that the specified theme alias points to. If you provide a specific alias, you delete the version of the theme that the alias points to.</p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes the Amazon QuickSight user that is associated with the identity of the AWS Identity and Access Management (IAM) user or role that's making the call. The IAM user isn't deleted as a result of this call. </p>"
    },
    "DeleteUserByPrincipalId":{
      "name":"DeleteUserByPrincipalId",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input":{"shape":"DeleteUserByPrincipalIdRequest"},
      "output":{"shape":"DeleteUserByPrincipalIdResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes a user identified by its principal ID. </p>"
    },
    "DescribeAccountCustomization":{
      "name":"DescribeAccountCustomization",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DescribeAccountCustomizationRequest"},
      "output":{"shape":"DescribeAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the customizations associated with the provided AWS account and Amazon QuickSight namespace in an AWS Region. The QuickSight console evaluates which customizations to apply by running this API operation with the <code>Resolved</code> flag included. </p> <p>To determine what customizations display when you run this command, it can help to visualize the relationship of the entities involved. </p> <ul> <li> <p> <code>AWS Account</code> - The AWS account exists at the top of the hierarchy. It has the potential to use all of the AWS Regions and AWS Services. When you subscribe to QuickSight, you choose one AWS Region to use as your home Region. That's where your free SPICE capacity is located. You can use QuickSight in any supported AWS Region. </p> </li> <li> <p> <code>AWS Region</code> - In each AWS Region where you sign in to QuickSight at least once, QuickSight acts as a separate instance of the same service. If you have a user directory, it resides in us-east-1, which is the US East (N. Virginia). Generally speaking, these users have access to QuickSight in any AWS Region, unless they are constrained to a namespace. </p> <p>To run the command in a different AWS Region, you change your Region settings. If you're using the AWS CLI, you can use one of the following options:</p> <ul> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-options.html\">command line options</a>. </p> </li> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html\">named profiles</a>. </p> </li> <li> <p>Run <code>aws configure</code> to change your default AWS Region. Use Enter to key the same settings for your keys. For more information, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html\">Configuring the AWS CLI</a>.</p> </li> </ul> </li> <li> <p> <code>Namespace</code> - A QuickSight namespace is a partition that contains users and assets (data sources, datasets, dashboards, and so on). To access assets that are in a specific namespace, users and groups must also be part of the same namespace. People who share a namespace are completely isolated from users and assets in other namespaces, even if they are in the same AWS account and AWS Region.</p> </li> <li> <p> <code>Applied customizations</code> - Within an AWS Region, a set of QuickSight customizations can apply to an AWS account or to a namespace. Settings that you apply to a namespace override settings that you apply to an AWS account. All settings are isolated to a single AWS Region. To apply them in other AWS Regions, run the <code>CreateAccountCustomization</code> command in each AWS Region where you want to apply the same customizations. </p> </li> </ul>"
    },
    "DescribeAccountSettings":{
      "name":"DescribeAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"DescribeAccountSettingsRequest"},
      "output":{"shape":"DescribeAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the settings that were used when your QuickSight subscription was first created in this AWS account.</p>"
    },
    "DescribeAnalysis":{
      "name":"DescribeAnalysis",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DescribeAnalysisRequest"},
      "output":{"shape":"DescribeAnalysisResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a summary of the metadata for an analysis.</p>"
    },
    "DescribeAnalysisPermissions":{
      "name":"DescribeAnalysisPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"DescribeAnalysisPermissionsRequest"},
      "output":{"shape":"DescribeAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides the read and write permissions for an analysis.</p>"
    },
    "DescribeDashboard":{
      "name":"DescribeDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DescribeDashboardRequest"},
      "output":{"shape":"DescribeDashboardResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a summary for a dashboard.</p>"
    },
    "DescribeDashboardPermissions":{
      "name":"DescribeDashboardPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"DescribeDashboardPermissionsRequest"},
      "output":{"shape":"DescribeDashboardPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes read and write permissions for a dashboard.</p>"
    },
    "DescribeDataSet":{
      "name":"DescribeDataSet",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DescribeDataSetRequest"},
      "output":{"shape":"DescribeDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a dataset. </p>"
    },
    "DescribeDataSetPermissions":{
      "name":"DescribeDataSetPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"DescribeDataSetPermissionsRequest"},
      "output":{"shape":"DescribeDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the permissions on a dataset.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/data-set-id</code>.</p>"
    },
    "DescribeDataSource":{
      "name":"DescribeDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DescribeDataSourceRequest"},
      "output":{"shape":"DescribeDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a data source.</p>"
    },
    "DescribeDataSourcePermissions":{
      "name":"DescribeDataSourcePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"DescribeDataSourcePermissionsRequest"},
      "output":{"shape":"DescribeDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the resource permissions for a data source.</p>"
    },
    "DescribeGroup":{
      "name":"DescribeGroup",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DescribeGroupRequest"},
      "output":{"shape":"DescribeGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Returns an Amazon QuickSight group's description and Amazon Resource Name (ARN). </p>"
    },
    "DescribeIAMPolicyAssignment":{
      "name":"DescribeIAMPolicyAssignment",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DescribeIAMPolicyAssignmentRequest"},
      "output":{"shape":"DescribeIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes an existing IAM policy assignment, as specified by the assignment name.</p>"
    },
    "DescribeIngestion":{
      "name":"DescribeIngestion",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"DescribeIngestionRequest"},
      "output":{"shape":"DescribeIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a SPICE ingestion.</p>"
    },
    "DescribeNamespace":{
      "name":"DescribeNamespace",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DescribeNamespaceRequest"},
      "output":{"shape":"DescribeNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the current namespace.</p>"
    },
    "DescribeTemplate":{
      "name":"DescribeTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DescribeTemplateRequest"},
      "output":{"shape":"DescribeTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a template's metadata.</p>"
    },
    "DescribeTemplateAlias":{
      "name":"DescribeTemplateAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeTemplateAliasRequest"},
      "output":{"shape":"DescribeTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the template alias for a template.</p>"
    },
    "DescribeTemplatePermissions":{
      "name":"DescribeTemplatePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"DescribeTemplatePermissionsRequest"},
      "output":{"shape":"DescribeTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes read and write permissions on a template.</p>"
    },
    "DescribeTheme":{
      "name":"DescribeTheme",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DescribeThemeRequest"},
      "output":{"shape":"DescribeThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a theme.</p>"
    },
    "DescribeThemeAlias":{
      "name":"DescribeThemeAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeThemeAliasRequest"},
      "output":{"shape":"DescribeThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the alias for a theme.</p>"
    },
    "DescribeThemePermissions":{
      "name":"DescribeThemePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input":{"shape":"DescribeThemePermissionsRequest"},
      "output":{"shape":"DescribeThemePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the read and write permissions for a theme.</p>"
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Returns information about a user, given the user name. </p>"
    },
    "GetDashboardEmbedUrl":{
      "name":"GetDashboardEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input":{"shape":"GetDashboardEmbedUrlRequest"},
      "output":{"shape":"GetDashboardEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"DomainNotWhitelistedException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"IdentityTypeNotSupportedException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Generates a session URL and authorization code that you can use to embed an Amazon QuickSight read-only dashboard in your web server code. Before you use this command, make sure that you have configured the dashboards and permissions. </p> <p>Currently, you can use <code>GetDashboardEmbedURL</code> only from the server, not from the user's browser. The following rules apply to the combination of URL and authorization code:</p> <ul> <li> <p>They must be used together.</p> </li> <li> <p>They can be used one time only.</p> </li> <li> <p>They are valid for 5 minutes after you run this command.</p> </li> <li> <p>The resulting user session is valid for 10 hours.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics.html\">Embedded Analytics</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
    },
    "GetSessionEmbedUrl":{
      "name":"GetSessionEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/session-embed-url"
      },
      "input":{"shape":"GetSessionEmbedUrlRequest"},
      "output":{"shape":"GetSessionEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Generates a session URL and authorization code that you can use to embed the Amazon QuickSight console in your web server code. Use <code>GetSessionEmbedUrl</code> where you want to provide an authoring portal that allows users to create data sources, datasets, analyses, and dashboards. The users who access an embedded QuickSight console need belong to the author or admin security cohort. If you want to restrict permissions to some of these features, add a custom permissions profile to the user with the <code> <a>UpdateUser</a> </code> API operation. Use <code> <a>RegisterUser</a> </code> API operation to add a new user with a custom permission profile attached. For more information, see the following sections in the <i>Amazon QuickSight User Guide</i>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedding-the-quicksight-console.html\">Embedding the Amazon QuickSight Console</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/customizing-permissions-to-the-quicksight-console.html\">Customizing Access to the Amazon QuickSight Console</a> </p> </li> </ul>"
    },
    "ListAnalyses":{
      "name":"ListAnalyses",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses"
      },
      "input":{"shape":"ListAnalysesRequest"},
      "output":{"shape":"ListAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists Amazon QuickSight analyses that exist in the specified AWS account.</p>"
    },
    "ListDashboardVersions":{
      "name":"ListDashboardVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions"
      },
      "input":{"shape":"ListDashboardVersionsRequest"},
      "output":{"shape":"ListDashboardVersionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the versions of the dashboards in the QuickSight subscription.</p>"
    },
    "ListDashboards":{
      "name":"ListDashboards",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards"
      },
      "input":{"shape":"ListDashboardsRequest"},
      "output":{"shape":"ListDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists dashboards in an AWS account.</p>"
    },
    "ListDataSets":{
      "name":"ListDataSets",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"ListDataSetsRequest"},
      "output":{"shape":"ListDataSetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all of the datasets belonging to the current AWS account in an AWS Region.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/*</code>.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists data sources in current AWS Region that belong to this AWS account.</p>"
    },
    "ListGroupMemberships":{
      "name":"ListGroupMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members"
      },
      "input":{"shape":"ListGroupMembershipsRequest"},
      "output":{"shape":"ListGroupMembershipsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Lists member users in a group.</p>"
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Lists all user groups in Amazon QuickSight. </p>"
    },
    "ListIAMPolicyAssignments":{
      "name":"ListIAMPolicyAssignments",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists IAM policy assignments in the current Amazon QuickSight account.</p>"
    },
    "ListIAMPolicyAssignmentsForUser":{
      "name":"ListIAMPolicyAssignmentsForUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsForUserRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsForUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the IAM policy assignments, including the Amazon Resource Names (ARNs) for the IAM policies assigned to the specified user and group or groups that the user belongs to.</p>"
    },
    "ListIngestions":{
      "name":"ListIngestions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions"
      },
      "input":{"shape":"ListIngestionsRequest"},
      "output":{"shape":"ListIngestionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the history of SPICE ingestions for a dataset.</p>"
    },
    "ListNamespaces":{
      "name":"ListNamespaces",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces"
      },
      "input":{"shape":"ListNamespacesRequest"},
      "output":{"shape":"ListNamespacesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Lists the namespaces for the specified AWS account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the tags assigned to a resource.</p>"
    },
    "ListTemplateAliases":{
      "name":"ListTemplateAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases"
      },
      "input":{"shape":"ListTemplateAliasesRequest"},
      "output":{"shape":"ListTemplateAliasesResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the aliases of a template.</p>"
    },
    "ListTemplateVersions":{
      "name":"ListTemplateVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/versions"
      },
      "input":{"shape":"ListTemplateVersionsRequest"},
      "output":{"shape":"ListTemplateVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the versions of the templates in the current Amazon QuickSight account.</p>"
    },
    "ListTemplates":{
      "name":"ListTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates"
      },
      "input":{"shape":"ListTemplatesRequest"},
      "output":{"shape":"ListTemplatesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the templates in the current Amazon QuickSight account.</p>"
    },
    "ListThemeAliases":{
      "name":"ListThemeAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases"
      },
      "input":{"shape":"ListThemeAliasesRequest"},
      "output":{"shape":"ListThemeAliasesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the aliases of a theme.</p>"
    },
    "ListThemeVersions":{
      "name":"ListThemeVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/versions"
      },
      "input":{"shape":"ListThemeVersionsRequest"},
      "output":{"shape":"ListThemeVersionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the versions of the themes in the current AWS account.</p>"
    },
    "ListThemes":{
      "name":"ListThemes",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes"
      },
      "input":{"shape":"ListThemesRequest"},
      "output":{"shape":"ListThemesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the themes in the current AWS account.</p>"
    },
    "ListUserGroups":{
      "name":"ListUserGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/groups"
      },
      "input":{"shape":"ListUserGroupsRequest"},
      "output":{"shape":"ListUserGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Lists the Amazon QuickSight groups that an Amazon QuickSight user is a member of.</p>"
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of all of the Amazon QuickSight users belonging to this account. </p>"
    },
    "RegisterUser":{
      "name":"RegisterUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"RegisterUserRequest"},
      "output":{"shape":"RegisterUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Creates an Amazon QuickSight user, whose identity is associated with the AWS Identity and Access Management (IAM) identity or role specified in the request. </p>"
    },
    "RestoreAnalysis":{
      "name":"RestoreAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/restore/analyses/{AnalysisId}"
      },
      "input":{"shape":"RestoreAnalysisRequest"},
      "output":{"shape":"RestoreAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Restores an analysis.</p>"
    },
    "SearchAnalyses":{
      "name":"SearchAnalyses",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/analyses"
      },
      "input":{"shape":"SearchAnalysesRequest"},
      "output":{"shape":"SearchAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Searches for analyses that belong to the user specified in the filter.</p>"
    },
    "SearchDashboards":{
      "name":"SearchDashboards",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/dashboards"
      },
      "input":{"shape":"SearchDashboardsRequest"},
      "output":{"shape":"SearchDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Searches for dashboards that belong to a user. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified QuickSight resource. </p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values. You can use the <code>TagResource</code> operation with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource. QuickSight supports tagging on data set, data source, dashboard, and template. </p> <p>Tagging for QuickSight works in a similar way to tagging for other AWS services, except for the following:</p> <ul> <li> <p>You can't use tags to track AWS costs for QuickSight. This restriction is because QuickSight costs are based on users and SPICE capacity, which aren't taggable resources.</p> </li> <li> <p>QuickSight doesn't currently support the Tag Editor for AWS Resource Groups.</p> </li> </ul>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Removes a tag or tags from a resource.</p>"
    },
    "UpdateAccountCustomization":{
      "name":"UpdateAccountCustomization",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"UpdateAccountCustomizationRequest"},
      "output":{"shape":"UpdateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Updates Amazon QuickSight customizations the current AWS Region. Currently, the only customization you can use is a theme.</p> <p>You can use customizations for your AWS account or, if you specify a namespace, for a QuickSight namespace instead. Customizations that apply to a namespace override customizations that apply to an AWS account. To find out which customizations apply, use the <code>DescribeAccountCustomization</code> API operation. </p>"
    },
    "UpdateAccountSettings":{
      "name":"UpdateAccountSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"UpdateAccountSettingsRequest"},
      "output":{"shape":"UpdateAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Updates the Amazon QuickSight settings in your AWS account.</p>"
    },
    "UpdateAnalysis":{
      "name":"UpdateAnalysis",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"UpdateAnalysisRequest"},
      "output":{"shape":"UpdateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates an analysis in Amazon QuickSight</p>"
    },
    "UpdateAnalysisPermissions":{
      "name":"UpdateAnalysisPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"UpdateAnalysisPermissionsRequest"},
      "output":{"shape":"UpdateAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the read and write permissions for an analysis.</p>"
    },
    "UpdateDashboard":{
      "name":"UpdateDashboard",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"UpdateDashboardRequest"},
      "output":{"shape":"UpdateDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a dashboard in an AWS account.</p>"
    },
    "UpdateDashboardPermissions":{
      "name":"UpdateDashboardPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"UpdateDashboardPermissionsRequest"},
      "output":{"shape":"UpdateDashboardPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates read and write permissions on a dashboard.</p>"
    },
    "UpdateDashboardPublishedVersion":{
      "name":"UpdateDashboardPublishedVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions/{VersionNumber}"
      },
      "input":{"shape":"UpdateDashboardPublishedVersionRequest"},
      "output":{"shape":"UpdateDashboardPublishedVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the published version of a dashboard.</p>"
    },
    "UpdateDataSet":{
      "name":"UpdateDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"UpdateDataSetRequest"},
      "output":{"shape":"UpdateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a dataset.</p>"
    },
    "UpdateDataSetPermissions":{
      "name":"UpdateDataSetPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"UpdateDataSetPermissionsRequest"},
      "output":{"shape":"UpdateDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the permissions on a dataset.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/data-set-id</code>.</p>"
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a data source.</p>"
    },
    "UpdateDataSourcePermissions":{
      "name":"UpdateDataSourcePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"UpdateDataSourcePermissionsRequest"},
      "output":{"shape":"UpdateDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the permissions to a data source.</p>"
    },
    "UpdateGroup":{
      "name":"UpdateGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"UpdateGroupRequest"},
      "output":{"shape":"UpdateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Changes a group description. </p>"
    },
    "UpdateIAMPolicyAssignment":{
      "name":"UpdateIAMPolicyAssignment",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"UpdateIAMPolicyAssignmentRequest"},
      "output":{"shape":"UpdateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates an existing IAM policy assignment. This operation updates only the optional parameter or parameters that are specified in the request. This overwrites all of the users included in <code>Identities</code>. </p>"
    },
    "UpdateTemplate":{
      "name":"UpdateTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"UpdateTemplateRequest"},
      "output":{"shape":"UpdateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a template from an existing Amazon QuickSight analysis or another template.</p>"
    },
    "UpdateTemplateAlias":{
      "name":"UpdateTemplateAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"UpdateTemplateAliasRequest"},
      "output":{"shape":"UpdateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the template alias of a template.</p>"
    },
    "UpdateTemplatePermissions":{
      "name":"UpdateTemplatePermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"UpdateTemplatePermissionsRequest"},
      "output":{"shape":"UpdateTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the resource permissions for a template.</p>"
    },
    "UpdateTheme":{
      "name":"UpdateTheme",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"UpdateThemeRequest"},
      "output":{"shape":"UpdateThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a theme.</p>"
    },
    "UpdateThemeAlias":{
      "name":"UpdateThemeAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"UpdateThemeAliasRequest"},
      "output":{"shape":"UpdateThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates an alias of a theme.</p>"
    },
    "UpdateThemePermissions":{
      "name":"UpdateThemePermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input":{"shape":"UpdateThemePermissionsRequest"},
      "output":{"shape":"UpdateThemePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the resource permissions for a theme. Permissions apply to the action to grant or revoke permissions on, for example <code>\"quicksight:DescribeTheme\"</code>.</p> <p>Theme permissions apply in groupings. Valid groupings include the following for the three levels of permissions, which are user, owner, or no permissions: </p> <ul> <li> <p>User</p> <ul> <li> <p> <code>\"quicksight:DescribeTheme\"</code> </p> </li> <li> <p> <code>\"quicksight:DescribeThemeAlias\"</code> </p> </li> <li> <p> <code>\"quicksight:ListThemeAliases\"</code> </p> </li> <li> <p> <code>\"quicksight:ListThemeVersions\"</code> </p> </li> </ul> </li> <li> <p>Owner</p> <ul> <li> <p> <code>\"quicksight:DescribeTheme\"</code> </p> </li> <li> <p> <code>\"quicksight:DescribeThemeAlias\"</code> </p> </li> <li> <p> <code>\"quicksight:ListThemeAliases\"</code> </p> </li> <li> <p> <code>\"quicksight:ListThemeVersions\"</code> </p> </li> <li> <p> <code>\"quicksight:DeleteTheme\"</code> </p> </li> <li> <p> <code>\"quicksight:UpdateTheme\"</code> </p> </li> <li> <p> <code>\"quicksight:CreateThemeAlias\"</code> </p> </li> <li> <p> <code>\"quicksight:DeleteThemeAlias\"</code> </p> </li> <li> <p> <code>\"quicksight:UpdateThemeAlias\"</code> </p> </li> <li> <p> <code>\"quicksight:UpdateThemePermissions\"</code> </p> </li> <li> <p> <code>\"quicksight:DescribeThemePermissions\"</code> </p> </li> </ul> </li> <li> <p>To specify no permissions, omit the permissions list.</p> </li> </ul>"
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Updates an Amazon QuickSight user.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{
          "shape":"String",
          "documentation":"<p>The AWS request ID for this request.</p>"
        }
      },
      "documentation":"<p>You don't have access to this item. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Make sure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
      "error":{"httpStatusCode":401},
      "exception":true
    },
    "AccountCustomization":{
      "type":"structure",
      "members":{
        "DefaultTheme":{
          "shape":"Arn",
          "documentation":"<p>The default theme for this QuickSight subscription.</p>"
        }
      },
      "documentation":"<p>The Amazon QuickSight customizations associated with your AWS account or a QuickSight namespace in a specific AWS Region.</p>"
    },
    "AccountSettings":{
      "type":"structure",
      "members":{
        "AccountName":{
          "shape":"String",
          "documentation":"<p>The \"account name\" you provided for the QuickSight subscription in your AWS account. You create this name when you sign up for QuickSight. It is unique in all of AWS and it appears only in the console when users sign in.</p>"
        },
        "Edition":{
          "shape":"Edition",
          "documentation":"<p>The edition of QuickSight that you're currently subscribed to: Enterprise edition or Standard edition.</p>"
        },
        "DefaultNamespace":{
          "shape":"Namespace",
          "documentation":"<p>The default QuickSight namespace for your AWS account. </p>"
        },
        "NotificationEmail":{
          "shape":"String",
          "documentation":"<p>The main notification email for your QuickSight subscription.</p>"
        }
      },
      "documentation":"<p>The QuickSight settings associated with your AWS account.</p>"
    },
    "ActionList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":16,
      "min":1
    },
    "ActiveIAMPolicyAssignment":{
      "type":"structure",
      "members":{
        "AssignmentName":{
          "shape":"IAMPolicyAssignmentName",
          "documentation":"<p>A name for the IAM policy assignment.</p>"
        },
        "PolicyArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource.</p>"
        }
      },
      "documentation":"<p>The active AWS Identity and Access Management (IAM) policy assignment.</p>"
    },
    "ActiveIAMPolicyAssignmentList":{
      "type":"list",
      "member":{"shape":"ActiveIAMPolicyAssignment"}
    },
    "AdHocFilteringOption":{
      "type":"structure",
      "members":{
        "AvailabilityStatus":{
          "shape":"DashboardBehavior",
          "documentation":"<p>Availability status.</p>"
        }
      },
      "documentation":"<p>Ad hoc (one-time) filtering option.</p>"
    },
    "AdditionalDashboardIdList":{
      "type":"list",
      "member":{"shape":"RestrictiveResourceId"},
      "max":20,
      "min":1
    },
    "AliasName":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)"
    },
    "AmazonElasticsearchParameters":{
      "type":"structure",
      "required":["Domain"],
      "members":{
        "Domain":{
          "shape":"Domain",
          "documentation":"<p>The Amazon Elasticsearch Service domain.</p>"
        }
      },
      "documentation":"<p>Amazon Elasticsearch Service parameters.</p>"
    },
    "Analysis":{
      "type":"structure",
      "members":{
        "AnalysisId":{
          "shape":"RestrictiveResourceId",
          "documentation":"<p>The ID of the analysis.</p>"
        },
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the analysis.</p>"
        },
        "Name":{
          "shape":"AnalysisName",
          "documentation":"<p>The descriptive name of the analysis.</p>"
        },
        "Status":{
          "shape":"ResourceStatus",
          "documentation":"<p>Status associated with the analysis.</p>"
        },
        "Errors":{
          "shape":"AnalysisErrorList",
          "documentation":"<p>Errors associated with the analysis.</p>"
        },
        "DataSetArns":{
          "shape":"DataSetArnsList",
          "documentation":"<p>The ARNs of the datasets of the analysis.</p>"
        },
        "ThemeArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the theme of the analysis.</p>"
        },
        "CreatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time that the analysis was created.</p>"
        },
        "LastUpdatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time that the analysis was last updated.</p>"
        },
        "Sheets":{
          "shape":"SheetList",
          "documentation":"<p>A list of the associated sheets with the unique identifier and name of each sheet.</p>"
        }
      },
      "documentation":"<p>Metadata structure for an analysis in Amazon QuickSight</p>"
    },
    "AnalysisError":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"AnalysisErrorType",
          "documentation":"<p>The type of the analysis error.</p>"
        },
        "Message":{
          "shape":"NonEmptyString",
          "documentation":"<p>The message associated with the analysis error.</p>"
        }
      },
      "documentation":"<p>A metadata error structure for an analysis.</p>"
    },
    "AnalysisErrorList":{
      "type":"list",
      "member":{"shape":"AnalysisError"},
      "min":1
    },
    "AnalysisErrorType":{
      "type":"string",
      "enum":[
        "ACCESS_DENIED",
        "SOURCE_NOT_FOUND",
        "DATA_SET_NOT_FOUND",
        "INTERNAL_FAILURE",
        "PARAMETER_VALUE_INCOMPATIBLE",
        "PARAMETER_TYPE_INVALID",
        "PARAMETER_NOT_FOUND",
        "COLUMN_TYPE_MISMATCH",
        "COLUMN_GEOGRAPHIC_ROLE_MISMATCH",
        "COLUMN_REPLACEMENT_MISSING"
      ]
    },
    "AnalysisFilterAttribute":{
      "type":"string",
      "enum":["QUICKSIGHT_USER"]
    },
    "AnalysisName":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "AnalysisSearchFilter":{
      "type":"structure",
      "members":{
        "Operator":{
          "shape":"FilterOperator",
          "documentation":"<p>The comparison operator that you want to use as a filter, for example <code>\"Operator\": \"StringEquals\"</code>.</p>"
        },
        "Name":{
          "shape":"AnalysisFilterAttribute",
          "documentation":"<p>The name of the value that you want to use as a filter, for example <code>\"Name\": \"QUICKSIGHT_USER\"</code>.</p>"
        },
        "Value":{
          "shape":"String",
          "documentation":"<p>The value of the named item, in this case <code>QUICKSIGHT_USER</code>, that you want to use as a filter, for example <code>\"Value\"</code>. An example is <code>\"arn:aws:quicksight:us-east-1:1:user/default/UserName1\"</code>.</p>"
        }
      },
      "documentation":"<p>A filter that you apply when searching for one or more analyses.</p>"
    },
    "AnalysisSearchFilterList":{
      "type":"list",
      "member":{"shape":"AnalysisSearchFilter"},
      "max":1
    },
    "AnalysisSourceEntity":{
      "type":"structure",
      "members":{
        "SourceTemplate":{
          "shape":"AnalysisSourceTemplate",
          "documentation":"<p>The source template for the source entity of the analysis.</p>"
        }
      },
      "documentation":"<p>The source entity of an analysis.</p>"
    },
    "AnalysisSourceTemplate":{
      "type":"structure",
      "required":[
        "DataSetReferences",
        "Arn"
      ],
      "members":{
        "DataSetReferences":{
          "shape":"DataSetReferenceList",
          "documentation":"<p>The dataset references of the source template of an analysis.</p>"
        },
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source template of an analysis.</p>"
        }
      },
      "documentation":"<p>The source template of an analysis.</p>"
    },
    "AnalysisSummary":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the analysis.</p>"
        },
        "AnalysisId":{
          "shape":"RestrictiveResourceId",
          "documentation":"<p>The ID of the analysis. This ID displays in the URL.</p>"
        },
        "Name":{
          "shape":"AnalysisName",
          "documentation":"<p>The name of the analysis. This name is displayed in the QuickSight console. </p>"
        },
        "Status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The last known status for the analysis.</p>"
        },
        "CreatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time that the analysis was created.</p>"
        },
        "LastUpdatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time that the analysis was last updated.</p>"
        }
      },
      "documentation":"<p>The summary metadata that describes an analysis.</p>"
    },
    "AnalysisSummaryList":{
      "type":"list",
      "member":{"shape":"AnalysisSummary"},
      "max":100
    },
    "Arn":{"type":"string"},
    "AssignmentStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DRAFT",
        "DISABLED"
      ]
    },
    "AthenaParameters":{
      "type":"structure",
      "members":{
        "WorkGroup":{
          "shape":"WorkGroup",
          "documentation":"<p>The workgroup that Amazon Athena uses.</p>"
        }
      },
      "documentation":"<p>Amazon Athena parameters.</p>"
    },
    "AuroraParameters":{
      "type":"structure",
      "required":[
        "Host",
        "Port",
        "Database"
      ],
      "members":{
        "Host":{
          "shape":"Host",
          "documentation":"<p>Host.</p>"
        },
        "Port":{
          "shape":"Port",
          "documentation":"<p>Port.</p>"
        },
        "Database":{
          "shape":"Database",
          "documentation":"<p>Database.</p>"
        }
      },
      "documentation":"<p>Amazon Aurora parameters.</p>"
    },
    "AuroraPostgreSqlParameters":{
      "type":"structure",
      "required":[
        "Host",
        "Port",
        "Database"
      ],
      "members":{
        "Host":{
          "shape":"Host",
          "documentation":"<p>Host.</p>"
        },
        "Port":{
          "shape":"Port",
          "documentation":"<p>Port.</p>"
        },
        "Database":{
          "shape":"Database",
          "documentation":"<p>Database.</p>"
        }
      },
      "documentation":"<p>Amazon Aurora with PostgreSQL compatibility parameters.</p>"
    },
    "AwsAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^[0-9]{12}$"
    },
    "AwsAndAccountId":{
      "type":"string",
      "pattern":"^(aws|[0-9]{12})$"
    },
    "AwsIotAnalyticsParameters":{
      "type":"structure",
      "required":["DataSetName"],
      "members":{
        "DataSetName":{
          "shape":"DataSetName",
          "documentation":"<p>Dataset name.</p>"
        }
      },
      "documentation":"<p>AWS IoT Analytics parameters.</p>"
    },
    "Boolean":{"type":"boolean"},
    "BorderStyle":{
      "type":"structure",
      "members":{
        "Show":{
          "shape":"boolean",
          "documentation":"<p>The option to enable display of borders for visuals.</p>",
          "box":true
        }
      },
      "documentation":"<p>The display options for tile borders for visuals.</p>"
    },
    "CalculatedColumn":{
      "type":"structure",
      "required":[
        "ColumnName",
        "ColumnId",
        "Expression"
      ],
      "members":{
        "ColumnName":{
          "shape":"ColumnName",
          "documentation":"<p>Column name.</p>"
        },
        "ColumnId":{
          "shape":"ColumnId",
          "documentation":"<p>A unique ID to identify a calculated column. During a dataset update, if the column ID of a calculated column matches that of an existing calculated column, Amazon QuickSight preserves the existing calculated column.</p>"
        },
        "Expression":{
          "shape":"Expression",
          "documentation":"<p>An expression that defines the calculated column.</p>"
        }
      },
      "documentation":"<p>A calculated column for a dataset.</p>"
    },
    "CalculatedColumnList":{
      "type":"list",
      "member":{"shape":"CalculatedColumn"},
      "max":128,
      "min":1
    },
    "CancelIngestionRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSetId",
        "IngestionId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The AWS account ID.</p>",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSetId":{
          "shape":"string",
          "documentation":"<p>The ID of the dataset used in the ingestion.</p>",
          "location":"uri",
          "locationName":"DataSetId"
        },
        "IngestionId":{
          "shape":"IngestionId",
          "documentation":"<p>An ID for the ingestion.</p>",
          "location":"uri",
          "locationName":"IngestionId"
        }
      }
    },
    "CancelIngestionResponse":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the data ingestion.</p>"
        },
        "IngestionId":{
          "shape":"IngestionId",
          "documentation":"<p>An ID for the ingestion.</p>"
        },
        "RequestId":{
          "shape":"string",
          "documentation":"<p>The AWS request ID for this operation.</p>"
        },
        "Status":{
          "shape":"StatusCode",
          "documentation":"<p>The HTTP status of the request.</p>",
          "location":"statusCode"
        }
      }
    },
    "CastColumnTypeOperation":{
      "type":"structure",
      "required":[
        "ColumnName",
        "NewColumnType"
      ],
      "members":{
        "ColumnName":{
          "shape":"ColumnName",
          "documentation":"<p>Column name.</p>"
        },
        "NewColumnType":{
          "shape":"ColumnDataType",
          "documentation":"<p>New column data type.</p>"
        },
        "Format":{
          "shape":"TypeCastFormat",
          "documentation":"<p>When casting a column from string to datetime type, you can supply a string in a format supported by Amazon QuickSight to denote the source data format.</p>"
        }
      },
      "documentation":"<p>A transform operation that casts a column to a different type.</p>"
    },
    "Catalog":{
      "type":"string",
      "max":128
    },
    "ClusterId":{
      "type":"string",
      "max":64,
      "min":1
    },
[...]
