{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-02-03",
    "endpointPrefix":"kendra",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"kendra",
    "serviceFullName":"AWSKendraFrontendService",
    "serviceId":"kendra",
    "signatureVersion":"v4",
    "signingName":"kendra",
    "targetPrefix":"AWSKendraFrontendService",
    "uid":"kendra-2019-02-03"
  },
  "operations":{
    "BatchDeleteDocument":{
      "name":"BatchDeleteDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteDocumentRequest"},
      "output":{"shape":"BatchDeleteDocumentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes one or more documents from an index. The documents must have been added with the <a>BatchPutDocument</a> operation.</p> <p>The documents are deleted asynchronously. You can see the progress of the deletion by using AWS CloudWatch. Any error messages releated to the processing of the batch are sent to you CloudWatch log.</p>"
    },
    "BatchPutDocument":{
      "name":"BatchPutDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchPutDocumentRequest"},
      "output":{"shape":"BatchPutDocumentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds one or more documents to an index.</p> <p>The <code>BatchPutDocument</code> operation enables you to ingest inline documents or a set of documents stored in an Amazon S3 bucket. Use this operation to ingest your text and unstructured text into an index, add custom attributes to the documents, and to attach an access control list to the documents added to the index.</p> <p>The documents are indexed asynchronously. You can see the progress of the batch using AWS CloudWatch. Any error messages related to processing the batch are sent to your AWS CloudWatch log.</p>"
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a data source that you use to with an Amazon Kendra index. </p> <p>You specify a name, data source connector type and description for your data source. You also specify configuration information such as document metadata (author, source URI, and so on) and user context information.</p> <p> <code>CreateDataSource</code> is a synchronous operation. The operation returns 200 if the data source was successfully created. Otherwise, an exception is raised.</p>"
    },
    "CreateFaq":{
      "name":"CreateFaq",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFaqRequest"},
      "output":{"shape":"CreateFaqResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an new set of frequently asked question (FAQ) questions and answers.</p>"
    },
    "CreateIndex":{
      "name":"CreateIndex",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIndexRequest"},
      "output":{"shape":"CreateIndexResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceAlreadyExistException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new Amazon Kendra index. Index creation is an asynchronous operation. To determine if index creation has completed, check the <code>Status</code> field returned from a call to . The <code>Status</code> field is set to <code>ACTIVE</code> when the index is ready to use.</p> <p>Once the index is active you can index your documents using the operation or using one of the supported data sources. </p>"
    },
    "CreateThesaurus":{
      "name":"CreateThesaurus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateThesaurusRequest"},
      "output":{"shape":"CreateThesaurusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a thesaurus for an index. The thesaurus contains a list of synonyms in Solr format.</p>"
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an Amazon Kendra data source. An exception is not thrown if the data source is already being deleted. While the data source is being deleted, the <code>Status</code> field returned by a call to the operation is set to <code>DELETING</code>. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/delete-data-source.html\">Deleting Data Sources</a>.</p>"
    },
    "DeleteFaq":{
      "name":"DeleteFaq",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFaqRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes an FAQ from an index.</p>"
    },
    "DeleteIndex":{
      "name":"DeleteIndex",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIndexRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing Amazon Kendra index. An exception is not thrown if the index is already being deleted. While the index is being deleted, the <code>Status</code> field returned by a call to the <a>DescribeIndex</a> operation is set to <code>DELETING</code>.</p>"
    },
    "DeleteThesaurus":{
      "name":"DeleteThesaurus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteThesaurusRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing Amazon Kendra thesaurus. </p>"
    },
    "DescribeDataSource":{
      "name":"DescribeDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataSourceRequest"},
      "output":{"shape":"DescribeDataSourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about a Amazon Kendra data source.</p>"
    },
    "DescribeFaq":{
      "name":"DescribeFaq",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFaqRequest"},
      "output":{"shape":"DescribeFaqResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about an FAQ list.</p>"
    },
    "DescribeIndex":{
      "name":"DescribeIndex",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIndexRequest"},
      "output":{"shape":"DescribeIndexResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes an existing Amazon Kendra index</p>"
    },
    "DescribeThesaurus":{
      "name":"DescribeThesaurus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeThesaurusRequest"},
      "output":{"shape":"DescribeThesaurusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes an existing Amazon Kendra thesaurus.</p>"
    },
    "ListDataSourceSyncJobs":{
      "name":"ListDataSourceSyncJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDataSourceSyncJobsRequest"},
      "output":{"shape":"ListDataSourceSyncJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets statistics about synchronizing Amazon Kendra with a data source.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the data sources that you have created.</p>"
    },
    "ListFaqs":{
      "name":"ListFaqs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFaqsRequest"},
      "output":{"shape":"ListFaqsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of FAQ lists associated with an index.</p>"
    },
    "ListIndices":{
      "name":"ListIndices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIndicesRequest"},
      "output":{"shape":"ListIndicesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the Amazon Kendra indexes that you have created.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of tags associated with a specified resource. Indexes, FAQs, and data sources can have tags associated with them.</p>"
    },
    "ListThesauri":{
      "name":"ListThesauri",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListThesauriRequest"},
      "output":{"shape":"ListThesauriResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the Amazon Kendra thesauri associated with an index.</p>"
    },
    "Query":{
      "name":"Query",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"QueryRequest"},
      "output":{"shape":"QueryResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Searches an active index. Use this API to search your documents using query. The <code>Query</code> operation enables to do faceted search and to filter results based on document attributes.</p> <p>It also enables you to provide user context that Amazon Kendra uses to enforce document access control in the search results. </p> <p>Amazon Kendra searches your index for text content and question and answer (FAQ) content. By default the response contains three types of results.</p> <ul> <li> <p>Relevant passages</p> </li> <li> <p>Matching FAQs</p> </li> <li> <p>Relevant documents</p> </li> </ul> <p>You can specify that the query return only one type of result using the <code>QueryResultTypeConfig</code> parameter.</p> <p>Each query returns the 100 most relevant results. </p>"
    },
    "StartDataSourceSyncJob":{
      "name":"StartDataSourceSyncJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDataSourceSyncJobRequest"},
      "output":{"shape":"StartDataSourceSyncJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts a synchronization job for a data source. If a synchronization job is already in progress, Amazon Kendra returns a <code>ResourceInUseException</code> exception.</p>"
    },
    "StopDataSourceSyncJob":{
      "name":"StopDataSourceSyncJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDataSourceSyncJobRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a running synchronization job. You can't stop a scheduled synchronization job.</p>"
    },
    "SubmitFeedback":{
      "name":"SubmitFeedback",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SubmitFeedbackRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Enables you to provide feedback to Amazon Kendra to improve the performance of the service. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds the specified tag to the specified index, FAQ, or data source resource. If the tag already exists, the existing value is replaced with the new value.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a tag from an index, FAQ, or a data source.</p>"
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an existing Amazon Kendra data source.</p>"
    },
    "UpdateIndex":{
      "name":"UpdateIndex",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateIndexRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an existing Amazon Kendra index.</p>"
    },
    "UpdateThesaurus":{
      "name":"UpdateThesaurus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateThesaurusRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates a thesaurus file associated with an index.</p>"
    }
  },
  "shapes":{
    "AccessControlListConfiguration":{
      "type":"structure",
      "members":{
        "KeyPath":{
          "shape":"S3ObjectKey",
          "documentation":"<p>Path to the AWS S3 bucket that contains the ACL files.</p>"
        }
      },
      "documentation":"<p>Access Control List files for the documents in a data source. For the format of the file, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/s3-acl.html\">Access control for S3 data sources</a>.</p>"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p/>",
      "exception":true
    },
    "AclConfiguration":{
      "type":"structure",
      "required":["AllowedGroupsColumnName"],
      "members":{
        "AllowedGroupsColumnName":{
          "shape":"ColumnName",
          "documentation":"<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>"
        }
      },
      "documentation":"<p>Provides information about the column that should be used for filtering the query response by groups.</p>"
    },
    "AdditionalResultAttribute":{
      "type":"structure",
      "required":[
        "Key",
        "ValueType",
        "Value"
      ],
      "members":{
        "Key":{
          "shape":"String",
          "documentation":"<p>The key that identifies the attribute.</p>"
        },
        "ValueType":{
          "shape":"AdditionalResultAttributeValueType",
          "documentation":"<p>The data type of the <code>Value</code> property.</p>"
        },
        "Value":{
          "shape":"AdditionalResultAttributeValue",
          "documentation":"<p>An object that contains the attribute value.</p>"
        }
      },
      "documentation":"<p>An attribute returned from an index query.</p>"
    },
    "AdditionalResultAttributeList":{
      "type":"list",
      "member":{"shape":"AdditionalResultAttribute"}
    },
    "AdditionalResultAttributeValue":{
      "type":"structure",
      "members":{
        "TextWithHighlightsValue":{
          "shape":"TextWithHighlights",
          "documentation":"<p>The text associated with the attribute and information about the highlight to apply to the text.</p>"
        }
      },
      "documentation":"<p>An attribute returned with a document from a search.</p>"
    },
    "AdditionalResultAttributeValueType":{
      "type":"string",
      "enum":["TEXT_WITH_HIGHLIGHTS_VALUE"]
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "AttributeFilter":{
      "type":"structure",
      "members":{
        "AndAllFilters":{
          "shape":"AttributeFilterList",
          "documentation":"<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>"
        },
        "OrAllFilters":{
          "shape":"AttributeFilterList",
          "documentation":"<p>Performs a logical <code>OR</code> operation on all supplied filters.</p>"
        },
        "NotFilter":{
          "shape":"AttributeFilter",
          "documentation":"<p>Performs a logical <code>NOT</code> operation on all supplied filters.</p>"
        },
        "EqualsTo":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs an equals operation on two document attributes.</p>"
        },
        "ContainsAll":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Returns true when a document contains all of the specified document attributes. This filter is only applicable to <code>StringListValue</code> metadata.</p>"
        },
        "ContainsAny":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Returns true when a document contains any of the specified document attributes. This filter is only applicable to <code>StringListValue</code> metadata.</p>"
        },
        "GreaterThan":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a greater than operation on two document attributes. Use with a document attribute of type <code>Integer</code> or <code>Long</code>.</p>"
        },
        "GreaterThanOrEquals":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a greater or equals than operation on two document attributes. Use with a document attribute of type <code>Integer</code> or <code>Long</code>.</p>"
        },
        "LessThan":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a less than operation on two document attributes. Use with a document attribute of type <code>Integer</code> or <code>Long</code>.</p>"
        },
        "LessThanOrEquals":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a less than or equals operation on two document attributes. Use with a document attribute of type <code>Integer</code> or <code>Long</code>.</p>"
        }
      },
      "documentation":"<p>Provides filtering the query results based on document attributes.</p> <p>When you use the <code>AndAllFilters</code> or <code>OrAllFilters</code>, filters you can use 2 layers under the first attribute filter. For example, you can use:</p> <p> <code>&lt;AndAllFilters&gt;</code> </p> <ol> <li> <p> <code> &lt;OrAllFilters&gt;</code> </p> </li> <li> <p> <code> &lt;EqualTo&gt;</code> </p> </li> </ol> <p>If you use more than 2 layers, you receive a <code>ValidationException</code> exception with the message \"<code>AttributeFilter</code> cannot have a depth of more than 2.\"</p>"
    },
    "AttributeFilterList":{
      "type":"list",
      "member":{"shape":"AttributeFilter"}
    },
    "BatchDeleteDocumentRequest":{
      "type":"structure",
      "required":[
        "IndexId",
        "DocumentIdList"
      ],
      "members":{
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index that contains the documents to delete.</p>"
        },
        "DocumentIdList":{
          "shape":"DocumentIdList",
          "documentation":"<p>One or more identifiers for documents to delete from the index.</p>"
        },
        "DataSourceSyncJobMetricTarget":{"shape":"DataSourceSyncJobMetricTarget"}
      }
    },
    "BatchDeleteDocumentResponse":{
      "type":"structure",
      "members":{
        "FailedDocuments":{
          "shape":"BatchDeleteDocumentResponseFailedDocuments",
          "documentation":"<p>A list of documents that could not be removed from the index. Each entry contains an error message that indicates why the document couldn't be removed from the index.</p>"
        }
      }
    },
    "BatchDeleteDocumentResponseFailedDocument":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"DocumentId",
          "documentation":"<p>The identifier of the document that couldn't be removed from the index.</p>"
        },
        "ErrorCode":{
          "shape":"ErrorCode",
          "documentation":"<p>The error code for why the document couldn't be removed from the index.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>An explanation for why the document couldn't be removed from the index.</p>"
        }
      },
      "documentation":"<p>Provides information about documents that could not be removed from an index by the <a>BatchDeleteDocument</a> operation.</p>"
    },
    "BatchDeleteDocumentResponseFailedDocuments":{
      "type":"list",
      "member":{"shape":"BatchDeleteDocumentResponseFailedDocument"}
    },
    "BatchPutDocumentRequest":{
      "type":"structure",
      "required":[
        "IndexId",
        "Documents"
      ],
      "members":{
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index to add the documents to. You need to create the index first using the <a>CreateIndex</a> operation.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a role that is allowed to run the <code>BatchPutDocument</code> operation. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for Amazon Kendra</a>.</p>"
        },
        "Documents":{
          "shape":"DocumentList",
          "documentation":"<p>One or more documents to add to the index. </p> <p>Documents have the following file size limits.</p> <ul> <li> <p>5 MB total size for inline documents</p> </li> <li> <p>50 MB total size for files from an S3 bucket</p> </li> <li> <p>5 MB extracted text for any file</p> </li> </ul> <p>For more information about file size and transaction per second quotas, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas</a>.</p>"
        }
      }
    },
    "BatchPutDocumentResponse":{
      "type":"structure",
      "members":{
        "FailedDocuments":{
          "shape":"BatchPutDocumentResponseFailedDocuments",
          "documentation":"<p>A list of documents that were not added to the index because the document failed a validation check. Each document contains an error message that indicates why the document couldn't be added to the index.</p> <p>If there was an error adding a document to an index the error is reported in your AWS CloudWatch log. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/cloudwatch-logs.html\">Monitoring Amazon Kendra with Amazon CloudWatch Logs</a> </p>"
        }
      }
    },
    "BatchPutDocumentResponseFailedDocument":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"DocumentId",
          "documentation":"<p>The unique identifier of the document.</p>"
        },
        "ErrorCode":{
          "shape":"ErrorCode",
          "documentation":"<p>The type of error that caused the document to fail to be indexed.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>A description of the reason why the document could not be indexed.</p>"
        }
      },
      "documentation":"<p>Provides information about a document that could not be indexed.</p>"
    },
    "BatchPutDocumentResponseFailedDocuments":{
      "type":"list",
      "member":{"shape":"BatchPutDocumentResponseFailedDocument"}
    },
    "Blob":{"type":"blob"},
    "Boolean":{"type":"boolean"},
    "CapacityUnitsConfiguration":{
      "type":"structure",
      "required":[
        "StorageCapacityUnits",
        "QueryCapacityUnits"
      ],
      "members":{
        "StorageCapacityUnits":{
          "shape":"StorageCapacityUnit",
          "documentation":"<p>The amount of extra storage capacity for an index. Each capacity unit provides 150 Gb of storage space or 500,000 documents, whichever is reached first.</p>"
        },
        "QueryCapacityUnits":{
          "shape":"QueryCapacityUnit",
          "documentation":"<p>The amount of extra query capacity for an index. Each capacity unit provides 0.5 queries per second and 40,000 queries per day.</p>"
        }
      },
      "documentation":"<p>Specifies capacity units configured for your index. You can add and remove capacity units to tune an index to your requirements.</p>"
    },
    "ChangeDetectingColumns":{
      "type":"list",
      "member":{"shape":"ColumnName"},
      "max":5,
      "min":1
    },
    "ClaimRegex":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^\\P{C}*$"
    },
    "ClickFeedback":{
      "type":"structure",
      "required":[
        "ResultId",
        "ClickTime"
      ],
      "members":{
        "ResultId":{
          "shape":"ResultId",
          "documentation":"<p>The unique identifier of the search result that was clicked.</p>"
        },
        "ClickTime":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp of the date and time that the result was clicked.</p>"
        }
      },
      "documentation":"<p>Gathers information about when a particular result was clicked by a user. Your application uses the <a>SubmitFeedback</a> operation to provide click information.</p>"
    },
    "ClickFeedbackList":{
      "type":"list",
      "member":{"shape":"ClickFeedback"}
    },
    "ClientTokenName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "ColumnConfiguration":{
      "type":"structure",
      "required":[
        "DocumentIdColumnName",
        "DocumentDataColumnName",
        "ChangeDetectingColumns"
      ],
      "members":{
        "DocumentIdColumnName":{
          "shape":"ColumnName",
          "documentation":"<p>The column that provides the document's unique identifier.</p>"
        },
        "DocumentDataColumnName":{
          "shape":"ColumnName",
          "documentation":"<p>The column that contains the contents of the document.</p>"
        },
        "DocumentTitleColumnName":{
          "shape":"ColumnName",
          "documentation":"<p>The column that contains the title of the document.</p>"
        },
        "FieldMappings":{
          "shape":"DataSourceToIndexFieldMappingList",
          "documentation":"<p>An array of objects that map database column names to the corresponding fields in an index. You must first create the fields in the index using the <a>UpdateIndex</a> operation.</p>"
        },
        "ChangeDetectingColumns":{
          "shape":"ChangeDetectingColumns",
          "documentation":"<p>One to five columns that indicate when a document in the database has changed.</p>"
        }
      },
      "documentation":"<p>Provides information about how Amazon Kendra should use the columns of a database in an index.</p>"
    },
    "ColumnName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[a-zA-Z][a-zA-Z0-9_]*$"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p/>",
      "exception":true
    },
    "ConfluenceAttachmentConfiguration":{
      "type":"structure",
      "members":{
        "CrawlAttachments":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether Amazon Kendra indexes attachments to the pages and blogs in the Confluence data source. </p>"
        },
        "AttachmentFieldMappings":{
          "shape":"ConfluenceAttachmentFieldMappingsList",
          "documentation":"<p>Defines how attachment metadata fields should be mapped to index fields. Before you can map a field, you must first create an index field with a matching type using the console or the <code>UpdateIndex</code> operation.</p> <p>If you specify the <code>AttachentFieldMappings</code> parameter, you must specify at least one field mapping.</p>"
        }
      },
      "documentation":"<p>Specifies the attachment settings for the Confluence data source. Attachment settings are optional, if you don't specify settings attachments, Amazon Kendra won't index them.</p>"
    },
    "ConfluenceAttachmentFieldMappingsList":{
      "type":"list",
      "member":{"shape":"ConfluenceAttachmentToIndexFieldMapping"},
      "max":11,
      "min":1
    },
    "ConfluenceAttachmentFieldName":{
      "type":"string",
      "enum":[
        "AUTHOR",
        "CONTENT_TYPE",
        "CREATED_DATE",
        "DISPLAY_URL",
        "FILE_SIZE",
        "ITEM_TYPE",
        "PARENT_ID",
        "SPACE_KEY",
        "SPACE_NAME",
        "URL",
        "VERSION"
      ]
    },
    "ConfluenceAttachmentToIndexFieldMapping":{
      "type":"structure",
      "members":{
        "DataSourceFieldName":{
          "shape":"ConfluenceAttachmentFieldName",
          "documentation":"<p>The name of the field in the data source. </p> <p>You must first create the index field using the operation. </p>"
        },
        "DateFieldFormat":{
          "shape":"DataSourceDateFieldFormat",
          "documentation":"<p>The format for date fields in the data source. If the field specified in <code>DataSourceFieldName</code> is a date field you must specify the date format. If the field is not a date field, an exception is thrown.</p>"
        },
        "IndexFieldName":{
          "shape":"IndexFieldName",
          "documentation":"<p>The name of the index field to map to the Confluence data source field. The index field type must match the Confluence field type.</p>"
        }
      },
      "documentation":"<p>Defines the mapping between a field in the Confluence data source to a Amazon Kendra index field.</p> <p>You must first create the index field using the operation. </p>"
    },
    "ConfluenceBlogConfiguration":{
      "type":"structure",
      "members":{
        "BlogFieldMappings":{
          "shape":"ConfluenceBlogFieldMappingsList",
          "documentation":"<p>Defines how blog metadata fields should be mapped to index fields. Before you can map a field, you must first create an index field with a matching type using the console or the <code>UpdateIndex</code> operation.</p> <p>If you specify the <code>BlogFieldMappings</code> parameter, you must specify at least one field mapping.</p>"
        }
      },
      "documentation":"<p>Specifies the blog settings for the Confluence data source. Blogs are always indexed unless filtered from the index by the <code>ExclusionPatterns</code> or <code>InclusionPatterns</code> fields in the data type.</p>"
    },
    "ConfluenceBlogFieldMappingsList":{
      "type":"list",
      "member":{"shape":"ConfluenceBlogToIndexFieldMapping"},
      "max":9,
      "min":1
    },
    "ConfluenceBlogFieldName":{
      "type":"string",
      "enum":[
        "AUTHOR",
        "DISPLAY_URL",
        "ITEM_TYPE",
        "LABELS",
        "PUBLISH_DATE",
        "SPACE_KEY",
        "SPACE_NAME",
        "URL",
        "VERSION"
      ]
    },
    "ConfluenceBlogToIndexFieldMapping":{
      "type":"structure",
      "members":{
        "DataSourceFieldName":{
          "shape":"ConfluenceBlogFieldName",
          "documentation":"<p>The name of the field in the data source. </p>"
        },
        "DateFieldFormat":{
          "shape":"DataSourceDateFieldFormat",
          "documentation":"<p>The format for date fields in the data source. If the field specified in <code>DataSourceFieldName</code> is a date field you must specify the date format. If the field is not a date field, an exception is thrown.</p>"
        },
        "IndexFieldName":{
          "shape":"IndexFieldName",
          "documentation":"<p>The name of the index field to map to the Confluence data source field. The index field type must match the Confluence field type.</p>"
        }
      },
      "documentation":"<p>Defines the mapping between a blog field in the Confluence data source to a Amazon Kendra index field.</p> <p>You must first create the index field using the operation. </p>"
    },
    "ConfluenceConfiguration":{
      "type":"structure",
      "required":[
        "ServerUrl",
        "SecretArn",
        "Version"
      ],
      "members":{
        "ServerUrl":{
          "shape":"Url",
          "documentation":"<p>The URL of your Confluence instance. Use the full URL of the server. For example, <code>https://server.example.com:port/</code>. You can also use an IP address, for example, <code>https://192.168.1.113/</code>.</p>"
        },
        "SecretArn":{
          "shape":"SecretArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an AWS Secrets Manager secret that contains the key/value pairs required to connect to your Confluence server. The secret must contain a JSON structure with the following keys:</p> <ul> <li> <p>username - The user name or email address of a user with administrative privileges for the Confluence server.</p> </li> <li> <p>password - The password associated with the user logging in to the Confluence server.</p> </li> </ul>"
        },
        "Version":{
          "shape":"ConfluenceVersion",
          "documentation":"<p>Specifies the version of the Confluence installation that you are connecting to.</p>"
        },
        "SpaceConfiguration":{
          "shape":"ConfluenceSpaceConfiguration",
          "documentation":"<p>Specifies configuration information for indexing Confluence spaces.</p>"
        },
        "PageConfiguration":{
          "shape":"ConfluencePageConfiguration",
          "documentation":"<p>Specifies configuration information for indexing Confluence pages.</p>"
        },
        "BlogConfiguration":{
          "shape":"ConfluenceBlogConfiguration",
          "documentation":"<p> Specifies configuration information for indexing Confluence blogs.</p>"
        },
        "AttachmentConfiguration":{
          "shape":"ConfluenceAttachmentConfiguration",
          "documentation":"<p>Specifies configuration information for indexing attachments to Confluence blogs and pages.</p>"
        },
        "VpcConfiguration":{
          "shape":"DataSourceVpcConfiguration",
          "documentation":"<p>Specifies the information for connecting to an Amazon VPC.</p>"
        },
        "InclusionPatterns":{
          "shape":"DataSourceInclusionsExclusionsStrings",
          "documentation":"<p>A list of regular expression patterns that apply to a URL on the Confluence server. An inclusion pattern can apply to a blog post, a page, a space, or an attachment. Items that match the patterns are included in the index. Items that don't match the pattern are excluded from the index. If an item matches both an inclusion pattern and an exclusion pattern, the item isn't included in the index.</p>"
        },
        "ExclusionPatterns":{
          "shape":"DataSourceInclusionsExclusionsStrings",
          "documentation":"<p>A list of regular expression patterns that apply to a URL on the Confluence server. An exclusion pattern can apply to a blog post, a page, a space, or an attachment. Items that match the pattern are excluded from the index. Items that don't match the pattern are included in the index. If a item matches both an exclusion pattern and an inclusion pattern, the item isn't included in the index.</p>"
        }
      },
      "documentation":"<p>Provides configuration information for data sources that connect to Confluence.</p>"
    },
    "ConfluencePageConfiguration":{
      "type":"structure",
      "members":{
        "PageFieldMappings":{
          "shape":"ConfluencePageFieldMappingsList",
          "documentation":"<p>Defines how page metadata fields should be mapped to index fields. Before you can map a field, you must first create an index field with a matching type using the console or the <code>UpdateIndex</code> operation.</p> <p>If you specify the <code>PageFieldMappings</code> parameter, you must specify at least one field mapping.</p>"
        }
      },
      "documentation":"<p>Specifies the page settings for the Confluence data source.</p>"
    },
    "ConfluencePageFieldMappingsList":{
      "type":"list",
      "member":{"shape":"ConfluencePageToIndexFieldMapping"},
      "max":12,
      "min":1
    },
    "ConfluencePageFieldName":{
      "type":"string",
      "enum":[
        "AUTHOR",
        "CONTENT_STATUS",
        "CREATED_DATE",
        "DISPLAY_URL",
        "ITEM_TYPE",
        "LABELS",
        "MODIFIED_DATE",
        "PARENT_ID",
        "SPACE_KEY",
        "SPACE_NAME",
        "URL",
        "VERSION"
      ]
    },
    "ConfluencePageToIndexFieldMapping":{
      "type":"structure",
      "members":{
        "DataSourceFieldName":{
          "shape":"ConfluencePageFieldName",
          "documentation":"<p>The name of the field in the data source. </p>"
        },
        "DateFieldFormat":{
          "shape":"DataSourceDateFieldFormat",
          "documentation":"<p>The format for date fields in the data source. If the field specified in <code>DataSourceFieldName</code> is a date field you must specify the date format. If the field is not a date field, an exception is thrown.</p>"
        },
        "IndexFieldName":{
          "shape":"IndexFieldName",
          "documentation":"<p>The name of the index field to map to the Confluence data source field. The index field type must match the Confluence field type.</p>"
        }
      },
      "documentation":"<p>Defines the mapping between a field in the Confluence data source to a Amazon Kendra index field.</p> <p>You must first create the index field using the operation. </p>"
    },
    "ConfluenceSpaceConfiguration":{
      "type":"structure",
      "members":{
        "CrawlPersonalSpaces":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether Amazon Kendra should index personal spaces. Users can add restrictions to items in personal spaces. If personal spaces are indexed, queries without user context information may return restricted items from a personal space in their results. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/user-context-filter.html\">Filtering on user context</a>.</p>"
        },
        "CrawlArchivedSpaces":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether Amazon Kendra should index archived spaces.</p>"
        },
        "IncludeSpaces":{
          "shape":"ConfluenceSpaceList",
          "documentation":"<p>A list of space keys for Confluence spaces. If you include a key, the blogs, documents, and attachments in the space are indexed. Spaces that aren't in the list aren't indexed. A space in the list must exist. Otherwise, Amazon Kendra logs an error when the data source is synchronized. If a space is in both the <code>IncludeSpaces</code> and the <code>ExcludeSpaces</code> list, the space is excluded.</p>"
        },
        "ExcludeSpaces":{
          "shape":"ConfluenceSpaceList",
          "documentation":"<p>A list of space keys of Confluence spaces. If you include a key, the blogs, documents, and attachments in the space are not indexed. If a space is in both the <code>ExcludeSpaces</code> and the <code>IncludeSpaces</code> list, the space is excluded.</p>"
        },
        "SpaceFieldMappings":{
          "shape":"ConfluenceSpaceFieldMappingsList",
          "documentation":"<p>Defines how space metadata fields should be mapped to index fields. Before you can map a field, you must first create an index field with a matching type using the console or the <code>UpdateIndex</code> operation.</p> <p>If you specify the <code>SpaceFieldMappings</code> parameter, you must specify at least one field mapping.</p>"
        }
      },
      "documentation":"<p>Specifies the configuration for indexing Confluence spaces.</p>"
    },
    "ConfluenceSpaceFieldMappingsList":{
      "type":"list",
      "member":{"shape":"ConfluenceSpaceToIndexFieldMapping"},
      "max":4,
      "min":1
    },
    "ConfluenceSpaceFieldName":{
      "type":"string",
      "enum":[
        "DISPLAY_URL",
        "ITEM_TYPE",
        "SPACE_KEY",
        "URL"
      ]
    },
    "ConfluenceSpaceIdentifier":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^\\P{C}*$"
    },
    "ConfluenceSpaceList":{
      "type":"list",
      "member":{"shape":"ConfluenceSpaceIdentifier"},
      "min":1
    },
    "ConfluenceSpaceToIndexFieldMapping":{
      "type":"structure",
      "members":{
        "DataSourceFieldName":{
          "shape":"ConfluenceSpaceFieldName",
          "documentation":"<p>The name of the field in the data source. </p>"
        },
        "DateFieldFormat":{
          "shape":"DataSourceDateFieldFormat",
          "documentation":"<p>The format for date fields in the data source. If the field specified in <code>DataSourceFieldName</code> is a date field you must specify the date format. If the field is not a date field, an exception is thrown.</p>"
        },
        "IndexFieldName":{
          "shape":"IndexFieldName",
          "documentation":"<p>The name of the index field to map to the Confluence data source field. The index field type must match the Confluence field type.</p>"
        }
      },
      "documentation":"<p>Defines the mapping between a field in the Confluence data source to a Amazon Kendra index field.</p> <p>You must first create the index field using the operation. </p>"
    },
    "ConfluenceVersion":{
      "type":"string",
      "enum":[
        "CLOUD",
        "SERVER"
      ]
    },
    "ConnectionConfiguration":{
      "type":"structure",
      "required":[
        "DatabaseHost",
        "DatabasePort",
        "DatabaseName",
        "TableName",
        "SecretArn"
      ],
      "members":{
        "DatabaseHost":{
          "shape":"DatabaseHost",
          "documentation":"<p>The name of the host for the database. Can be either a string (host.subdomain.domain.tld) or an IPv4 or IPv6 address.</p>"
        },
        "DatabasePort":{
          "shape":"DatabasePort",
          "documentation":"<p>The port that the database uses for connections.</p>"
        },
        "DatabaseName":{
          "shape":"DatabaseName",
          "documentation":"<p>The name of the database containing the document data.</p>"
        },
        "TableName":{
          "shape":"TableName",
          "documentation":"<p>The name of the table that contains the document data.</p>"
        },
        "SecretArn":{
          "shape":"SecretArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of credentials stored in AWS Secrets Manager. The credentials should be a user/password pair. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-database.html\">Using a Database Data Source</a>. For more information about AWS Secrets Manager, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\"> What Is AWS Secrets Manager </a> in the <i>AWS Secrets Manager</i> user guide.</p>"
        }
      },
      "documentation":"<p>Provides the information necessary to connect to a database.</p>"
    },
    "ContentType":{
      "type":"string",
      "enum":[
        "PDF",
        "HTML",
        "MS_WORD",
        "PLAIN_TEXT",
        "PPT"
      ]
    },
    "CreateDataSourceRequest":{
      "type":"structure",
      "required":[
        "Name",
        "IndexId",
        "Type"
      ],
      "members":{
        "Name":{
          "shape":"DataSourceName",
          "documentation":"<p>A unique name for the data source. A data source name can't be changed without deleting and recreating the data source.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index that should be associated with this data source.</p>"
        },
        "Type":{
          "shape":"DataSourceType",
          "documentation":"<p>The type of repository that contains the data source.</p>"
        },
        "Configuration":{
          "shape":"DataSourceConfiguration",
          "documentation":"<p>The connector configuration information that is required to access the repository.</p> <p>You can't specify the <code>Configuration</code> parameter when the <code>Type</code> parameter is set to <code>CUSTOM</code>. If you do, you receive a <code>ValidationException</code> exception.</p> <p>The <code>Configuration</code> parameter is required for all other data sources.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description for the data source.</p>"
        },
        "Schedule":{
          "shape":"ScanSchedule",
          "documentation":"<p>Sets the frequency that Amazon Kendra will check the documents in your repository and update the index. If you don't set a schedule Amazon Kendra will not periodically update the index. You can call the <code>StartDataSourceSyncJob</code> operation to update the index.</p> <p>You can't specify the <code>Schedule</code> parameter when the <code>Type</code> parameter is set to <code>CUSTOM</code>. If you do, you receive a <code>ValidationException</code> exception.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a role with permission to access the data source. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for Amazon Kendra</a>.</p> <p>You can't specify the <code>RoleArn</code> parameter when the <code>Type</code> parameter is set to <code>CUSTOM</code>. If you do, you receive a <code>ValidationException</code> exception.</p> <p>The <code>RoleArn</code> parameter is required for all other data sources.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of key-value pairs that identify the data source. You can use the tags to identify and organize your resources and to control access to resources.</p>"
        },
        "ClientToken":{
          "shape":"ClientTokenName",
          "documentation":"<p>A token that you provide to identify the request to create a data source. Multiple calls to the <code>CreateDataSource</code> operation with the same client token will create only one data source.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateDataSourceResponse":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"DataSourceId",
          "documentation":"<p>A unique identifier for the data source.</p>"
        }
      }
    },
    "CreateFaqRequest":{
      "type":"structure",
      "required":[
        "IndexId",
        "Name",
        "S3Path",
        "RoleArn"
      ],
      "members":{
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index that contains the FAQ.</p>"
        },
        "Name":{
          "shape":"FaqName",
          "documentation":"<p>The name that should be associated with the FAQ.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the FAQ.</p>"
        },
        "S3Path":{
          "shape":"S3Path",
          "documentation":"<p>The S3 location of the FAQ input data.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a role with permission to access the S3 bucket that contains the FAQs. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for Amazon Kendra</a>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of key-value pairs that identify the FAQ. You can use the tags to identify and organize your resources and to control access to resources.</p>"
        },
        "FileFormat":{
          "shape":"FaqFileFormat",
          "documentation":"<p>The format of the input file. You can choose between a basic CSV format, a CSV format that includes customs attributes in a header, and a JSON format that includes custom attributes.</p> <p>The format must match the format of the file stored in the S3 bucket identified in the <code>S3Path</code> parameter.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/in-creating-faq.html\">Adding questions and answers</a>.</p>"
        },
        "ClientToken":{
          "shape":"ClientTokenName",
          "documentation":"<p>A token that you provide to identify the request to create a FAQ. Multiple calls to the <code>CreateFaqRequest</code> operation with the same client token will create only one FAQ. </p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateFaqResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"FaqId",
          "documentation":"<p>The unique identifier of the FAQ.</p>"
        }
      }
    },
    "CreateIndexRequest":{
      "type":"structure",
      "required":[
        "Name",
        "RoleArn"
      ],
      "members":{
        "Name":{
          "shape":"IndexName",
          "documentation":"<p>The name for the new index.</p>"
        },
        "Edition":{
          "shape":"IndexEdition",
          "documentation":"<p>The Amazon Kendra edition to use for the index. Choose <code>DEVELOPER_EDITION</code> for indexes intended for development, testing, or proof of concept. Use <code>ENTERPRISE_EDITION</code> for your production databases. Once you set the edition for an index, it can't be changed. </p> <p>The <code>Edition</code> parameter is optional. If you don't supply a value, the default is <code>ENTERPRISE_EDITION</code>.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>An AWS Identity and Access Management (IAM) role that gives Amazon Kendra permissions to access your Amazon CloudWatch logs and metrics. This is also the role used when you use the <code>BatchPutDocument</code> operation to index documents from an Amazon S3 bucket.</p>"
        },
        "ServerSideEncryptionConfiguration":{
          "shape":"ServerSideEncryptionConfiguration",
          "documentation":"<p>The identifier of the AWS KMS customer managed key (CMK) to use to encrypt data indexed by Amazon Kendra. Amazon Kendra doesn't support asymmetric CMKs.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description for the index.</p>"
        },
        "ClientToken":{
          "shape":"ClientTokenName",
          "documentation":"<p>A token that you provide to identify the request to create an index. Multiple calls to the <code>CreateIndex</code> operation with the same client token will create only one index.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of key-value pairs that identify the index. You can use the tags to identify and organize your resources and to control access to resources.</p>"
        },
        "UserTokenConfigurations":{
          "shape":"UserTokenConfigurationList",
          "documentation":"<p>The user token configuration.</p>"
        },
        "UserContextPolicy":{
          "shape":"UserContextPolicy",
          "documentation":"<p>The user context policy.</p> <dl> <dt>ATTRIBUTE_FILTER</dt> <dd> <p>All indexed content is searchable and displayable for all users. If there is an access control list, it is ignored. You can filter on user and group attributes. </p> </dd> <dt>USER_TOKEN</dt> <dd> <p>Enables SSO and token-based user access control. All documents with no access control and all documents accessible to the user will be searchable and displayable. </p> </dd> </dl>"
        }
      }
    },
    "CreateIndexResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"IndexId",
          "documentation":"<p>The unique identifier of the index. Use this identifier when you query an index, set up a data source, or index a document.</p>"
        }
      }
    },
    "CreateThesaurusRequest":{
      "type":"structure",
      "required":[
        "IndexId",
        "Name",
        "RoleArn",
        "SourceS3Path"
      ],
      "members":{
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The unique identifier of the index for the new thesaurus. </p>"
        },
        "Name":{
          "shape":"ThesaurusName",
          "documentation":"<p>The name for the new thesaurus.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description for the new thesaurus.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>An AWS Identity and Access Management (IAM) role that gives Amazon Kendra permissions to access thesaurus file specified in <code>SourceS3Path</code>. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of key-value pairs that identify the thesaurus. You can use the tags to identify and organize your resources and to control access to resources. </p>"
        },
        "SourceS3Path":{
          "shape":"S3Path",
          "documentation":"<p>The thesaurus file Amazon S3 source path. </p>"
        },
        "ClientToken":{
          "shape":"ClientTokenName",
          "documentation":"<p>A token that you provide to identify the request to create a thesaurus. Multiple calls to the <code>CreateThesaurus</code> operation with the same client token will create only one index. </p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateThesaurusResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ThesaurusId",
          "documentation":"<p>The unique identifier of the thesaurus. </p>"
        }
      }
    },
    "DataSourceConfiguration":{
      "type":"structure",
      "members":{
        "S3Configuration":{
          "shape":"S3DataSourceConfiguration",
          "documentation":"<p>Provides information to create a data source connector for a document repository in an Amazon S3 bucket.</p>"
        },
        "SharePointConfiguration":{
          "shape":"SharePointConfiguration",
          "documentation":"<p>Provides information necessary to create a data source connector for a Microsoft SharePoint site.</p>"
        },
        "DatabaseConfiguration":{
          "shape":"DatabaseConfiguration",
          "documentation":"<p>Provides information necessary to create a data source connector for a database.</p>"
        },
        "SalesforceConfiguration":{
          "shape":"SalesforceConfiguration",
          "documentation":"<p>Provides configuration information for data sources that connect to a Salesforce site.</p>"
        },
        "OneDriveConfiguration":{
          "shape":"OneDriveConfiguration",
          "documentation":"<p>Provides configuration for data sources that connect to Microsoft OneDrive.</p>"
        },
        "ServiceNowConfiguration":{
          "shape":"ServiceNowConfiguration",
          "documentation":"<p>Provides configuration for data sources that connect to ServiceNow instances.</p>"
        },
        "ConfluenceConfiguration":{
          "shape":"ConfluenceConfiguration",
          "documentation":"<p>Provides configuration information for connecting to a Confluence data source.</p>"
        },
        "GoogleDriveConfiguration":{
          "shape":"GoogleDriveConfiguration",
          "documentation":"<p>Provides configuration for data sources that connect to Google Drive. </p>"
        }
      },
      "documentation":"<p>Configuration information for a Amazon Kendra data source.</p>"
    },
    "DataSourceDateFieldFormat":{
      "type":"string",
      "max":40,
      "min":4,
      "pattern":"^(?!\\s).*(?<!\\s)$"
    },
    "DataSourceFieldName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[a-zA-Z][a-zA-Z0-9_.]*$"
    },
    "DataSourceId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "DataSourceInclusionsExclusionsStrings":{
      "type":"list",
      "member":{"shape":"DataSourceInclusionsExclusionsStringsMember"},
      "max":100,
      "min":0
    },
    "DataSourceInclusionsExclusionsStringsMember":{
      "type":"string",
      "max":150,
      "min":1
    },
    "DataSourceName":{
      "type":"string",
      "max":1000,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "DataSourceStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "DELETING",
        "FAILED",
        "UPDATING",
        "ACTIVE"
      ]
    },
    "DataSourceSummary":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DataSourceName",
          "documentation":"<p>The name of the data source.</p>"
        },
        "Id":{
          "shape":"DataSourceId",
          "documentation":"<p>The unique identifier for the data source.</p>"
        },
        "Type":{
          "shape":"DataSourceType",
          "documentation":"<p>The type of the data source.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The UNIX datetime that the data source was created.</p>"
        },
        "UpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The UNIX datetime that the data source was lasted updated. </p>"
        },
        "Status":{
          "shape":"DataSourceStatus",
          "documentation":"<p>The status of the data source. When the status is <code>ATIVE</code> the data source is ready to use.</p>"
        }
      },
      "documentation":"<p>Summary information for a Amazon Kendra data source. Returned in a call to .</p>"
    },
    "DataSourceSummaryList":{
      "type":"list",
      "member":{"shape":"DataSourceSummary"}
    },
    "DataSourceSyncJob":{
      "type":"structure",
      "members":{
        "ExecutionId":{
          "shape":"String",
          "documentation":"<p>A unique identifier for the synchronization job.</p>"
        },
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The UNIX datetime that the synchronization job was started.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The UNIX datetime that the synchronization job was completed.</p>"
        },
        "Status":{
          "shape":"DataSourceSyncJobStatus",
          "documentation":"<p>The execution status of the synchronization job. When the <code>Status</code> field is set to <code>SUCCEEDED</code>, the synchronization job is done. If the status code is set to <code>FAILED</code>, the <code>ErrorCode</code> and <code>ErrorMessage</code> fields give you the reason for the failure.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>If the <code>Status</code> field is set to <code>ERROR</code>, the <code>ErrorMessage</code> field contains a description of the error that caused the synchronization to fail.</p>"
        },
        "ErrorCode":{
          "shape":"ErrorCode",
          "documentation":"<p>If the <code>Status</code> field is set to <code>FAILED</code>, the <code>ErrorCode</code> field contains a the reason that the synchronization failed.</p>"
        },
        "DataSourceErrorCode":{
          "shape":"String",
          "documentation":"<p>If the reason that the synchronization failed is due to an error with the underlying data source, this field contains a code that identifies the error.</p>"
        },
        "Metrics":{
          "shape":"DataSourceSyncJobMetrics",
          "documentation":"<p>Maps a batch delete document request to a specific data source sync job. This is optional and should only be supplied when documents are deleted by a data source connector.</p>"
        }
      },
      "documentation":"<p>Provides information about a synchronization job.</p>"
    },
    "DataSourceSyncJobHistoryList":{
      "type":"list",
      "member":{"shape":"DataSourceSyncJob"}
    },
    "DataSourceSyncJobId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "DataSourceSyncJobMetricTarget":{
      "type":"structure",
      "required":[
        "DataSourceId",
        "DataSourceSyncJobId"
      ],
      "members":{
        "DataSourceId":{
          "shape":"DataSourceId",
          "documentation":"<p>The ID of the data source that is running the sync job.</p>"
        },
        "DataSourceSyncJobId":{
          "shape":"DataSourceSyncJobId",
          "documentation":"<p>The ID of the sync job that is running on the data source.</p>"
        }
      },
      "documentation":"<p>Maps a particular data source sync job to a particular data source.</p>"
    },
    "DataSourceSyncJobMetrics":{
      "type":"structure",
      "members":{
        "DocumentsAdded":{
          "shape":"MetricValue",
          "documentation":"<p>The number of documents added from the data source up to now in the data source sync.</p>"
        },
        "DocumentsModified":{
          "shape":"MetricValue",
          "documentation":"<p>The number of documents modified in the data source up to now in the data source sync run.</p>"
        },
        "DocumentsDeleted":{
          "shape":"MetricValue",
          "documentation":"<p>The number of documents deleted from the data source up to now in the data source sync run.</p>"
        },
        "DocumentsFailed":{
          "shape":"MetricValue",
          "documentation":"<p>The number of documents that failed to sync from the data source up to now in the data source sync run.</p>"
        },
        "DocumentsScanned":{
          "shape":"MetricValue",
          "documentation":"<p>The current number of documents crawled by the current sync job in the data source.</p>"
        }
      },
      "documentation":"<p>Maps a batch delete document request to a specific data source sync job. This is optional and should only be supplied when documents are deleted by a data source connector.</p>"
    },
    "DataSourceSyncJobStatus":{
      "type":"string",
      "enum":[
        "FAILED",
        "SUCCEEDED",
        "SYNCING",
        "INCOMPLETE",
        "STOPPING",
        "ABORTED",
        "SYNCING_INDEXING"
      ]
    },
    "DataSourceToIndexFieldMapping":{
      "type":"structure",
      "required":[
        "DataSourceFieldName",
        "IndexFieldName"
      ],
      "members":{
        "DataSourceFieldName":{
          "shape":"DataSourceFieldName",
          "documentation":"<p>The name of the column or attribute in the data source.</p>"
        },
        "DateFieldFormat":{
          "shape":"DataSourceDateFieldFormat",
          "documentation":"<p>The type of data stored in the column or attribute.</p>"
        },
        "IndexFieldName":{
          "shape":"IndexFieldName",
          "documentation":"<p>The name of the field in the index.</p>"
        }
      },
      "documentation":"<p>Maps a column or attribute in the data source to an index field. You must first create the fields in the index using the <a>UpdateIndex</a> operation.</p>"
    },
    "DataSourceToIndexFieldMappingList":{
      "type":"list",
      "member":{"shape":"DataSourceToIndexFieldMapping"},
      "max":100,
      "min":1
    },
    "DataSourceType":{
      "type":"string",
      "enum":[
        "S3",
        "SHAREPOINT",
        "DATABASE",
        "SALESFORCE",
        "ONEDRIVE",
        "SERVICENOW",
        "CUSTOM",
        "CONFLUENCE",
        "GOOGLEDRIVE"
      ]
    },
    "DataSourceVpcConfiguration":{
      "type":"structure",
      "required":[
        "SubnetIds",
        "SecurityGroupIds"
      ],
      "members":{
        "SubnetIds":{
          "shape":"SubnetIdList",
          "documentation":"<p>A list of identifiers for subnets within your Amazon VPC. The subnets should be able to connect to each other in the VPC, and they should have outgoing access to the Internet through a NAT device.</p>"
        },
        "SecurityGroupIds":{
          "shape":"SecurityGroupIdList",
          "documentation":"<p>A list of identifiers of security groups within your Amazon VPC. The security groups should enable Amazon Kendra to connect to the data source.</p>"
        }
      },
      "documentation":"<p>Provides information for connecting to an Amazon VPC.</p>"
    },
    "DatabaseConfiguration":{
      "type":"structure",
      "required":[
        "DatabaseEngineType",
        "ConnectionConfiguration",
        "ColumnConfiguration"
      ],
      "members":{
        "DatabaseEngineType":{
          "shape":"DatabaseEngineType",
          "documentation":"<p>The type of database engine that runs the database.</p>"
        },
        "ConnectionConfiguration":{
          "shape":"ConnectionConfiguration",
          "documentation":"<p>The information necessary to connect to a database.</p>"
        },
        "VpcConfiguration":{"shape":"DataSourceVpcConfiguration"},
        "ColumnConfiguration":{
          "shape":"ColumnConfiguration",
          "documentation":"<p>Information about where the index should get the document information from the database.</p>"
        },
        "AclConfiguration":{
          "shape":"AclConfiguration",
          "documentation":"<p>Information about the database column that provides information for user context filtering.</p>"
        },
        "SqlConfiguration":{
          "shape":"SqlConfiguration",
          "documentation":"<p>Provides information about how Amazon Kendra uses quote marks around SQL identifiers when querying a database data source.</p>"
        }
      },
      "documentation":"<p>Provides the information necessary to connect a database to an index. </p>"
    },
    "DatabaseEngineType":{
      "type":"string",
      "enum":[
        "RDS_AURORA_MYSQL",
        "RDS_AURORA_POSTGRESQL",
        "RDS_MYSQL",
        "RDS_POSTGRESQL"
      ]
    },
    "DatabaseHost":{
      "type":"string",
      "max":253,
      "min":1
    },
    "DatabaseName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[a-zA-Z][a-zA-Z0-9_]*$"
    },
    "DatabasePort":{
      "type":"integer",
      "max":65535,
      "min":1
    },
    "DeleteDataSourceRequest":{
      "type":"structure",
      "required":[
        "Id",
        "IndexId"
      ],
      "members":{
        "Id":{
          "shape":"DataSourceId",
          "documentation":"<p>The unique identifier of the data source to delete.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The unique identifier of the index associated with the data source.</p>"
        }
      }
    },
    "DeleteFaqRequest":{
      "type":"structure",
      "required":[
        "Id",
        "IndexId"
      ],
      "members":{
        "Id":{
          "shape":"FaqId",
          "documentation":"<p>The identifier of the FAQ to remove.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The index to remove the FAQ from.</p>"
        }
      }
    },
    "DeleteIndexRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index to delete.</p>"
        }
      }
    },
    "DeleteThesaurusRequest":{
      "type":"structure",
      "required":[
        "Id",
        "IndexId"
      ],
      "members":{
        "Id":{
          "shape":"ThesaurusId",
          "documentation":"<p>The identifier of the thesaurus to delete.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index associated with the thesaurus to delete.</p>"
        }
      }
    },
    "DescribeDataSourceRequest":{
      "type":"structure",
      "required":[
        "Id",
        "IndexId"
      ],
      "members":{
        "Id":{
          "shape":"DataSourceId",
          "documentation":"<p>The unique identifier of the data source to describe.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index that contains the data source.</p>"
        }
      }
    },
    "DescribeDataSourceResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"DataSourceId",
          "documentation":"<p>The identifier of the data source.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index that contains the data source.</p>"
        },
        "Name":{
          "shape":"DataSourceName",
          "documentation":"<p>The name that you gave the data source when it was created.</p>"
        },
        "Type":{
          "shape":"DataSourceType",
          "documentation":"<p>The type of the data source.</p>"
        },
        "Configuration":{
          "shape":"DataSourceConfiguration",
          "documentation":"<p>Information that describes where the data source is located and how the data source is configured. The specific information in the description depends on the data source provider.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp of when the data source was created.</p>"
        },
        "UpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp of when the data source was last updated.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the data source.</p>"
        },
        "Status":{
          "shape":"DataSourceStatus",
          "documentation":"<p>The current status of the data source. When the status is <code>ACTIVE</code> the data source is ready to use. When the status is <code>FAILED</code>, the <code>ErrorMessage</code> field contains the reason that the data source failed.</p>"
        },
        "Schedule":{
          "shape":"ScanSchedule",
          "documentation":"<p>The schedule that Amazon Kendra will update the data source.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the role that enables the data source to access its resources.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>When the <code>Status</code> field value is <code>FAILED</code>, the <code>ErrorMessage</code> field contains a description of the error that caused the data source to fail.</p>"
        }
      }
    },
    "DescribeFaqRequest":{
      "type":"structure",
      "required":[
        "Id",
        "IndexId"
      ],
      "members":{
        "Id":{
          "shape":"FaqId",
          "documentation":"<p>The unique identifier of the FAQ.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index that contains the FAQ.</p>"
        }
      }
    },
    "DescribeFaqResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"FaqId",
          "documentation":"<p>The identifier of the FAQ.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index that contains the FAQ.</p>"
        },
        "Name":{
          "shape":"FaqName",
          "documentation":"<p>The name that you gave the FAQ when it was created.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the FAQ that you provided when it was created.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the FAQ was created.</p>"
        },
        "UpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the FAQ was last updated.</p>"
        },
        "S3Path":{"shape":"S3Path"},
        "Status":{
          "shape":"FaqStatus",
          "documentation":"<p>The status of the FAQ. It is ready to use when the status is <code>ACTIVE</code>.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the role that provides access to the S3 bucket containing the input files for the FAQ.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>If the <code>Status</code> field is <code>FAILED</code>, the <code>ErrorMessage</code> field contains the reason why the FAQ failed.</p>"
        },
        "FileFormat":{
          "shape":"FaqFileFormat",
          "documentation":"<p>The file format used by the input files for the FAQ.</p>"
        }
      }
    },
    "DescribeIndexRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"IndexId",
          "documentation":"<p>The name of the index to describe.</p>"
        }
      }
    },
    "DescribeIndexResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"IndexName",
          "documentation":"<p>The name of the index.</p>"
        },
        "Id":{
          "shape":"IndexId",
          "documentation":"<p>The name of the index.</p>"
        },
        "Edition":{
          "shape":"IndexEdition",
          "documentation":"<p>The Amazon Kendra edition used for the index. You decide the edition when you create the index.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that gives Amazon Kendra permission to write to your Amazon Cloudwatch logs.</p>"
        },
        "ServerSideEncryptionConfiguration":{
          "shape":"ServerSideEncryptionConfiguration",
          "documentation":"<p>The identifier of the AWS KMS customer master key (CMK) used to encrypt your data. Amazon Kendra doesn't support asymmetric CMKs.</p>"
        },
        "Status":{
          "shape":"IndexStatus",
          "documentation":"<p>The current status of the index. When the value is <code>ACTIVE</code>, the index is ready for use. If the <code>Status</code> field value is <code>FAILED</code>, the <code>ErrorMessage</code> field contains a message that explains why.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the index.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix datetime that the index was created.</p>"
        },
        "UpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix datetime that the index was last updated.</p>"
        },
        "DocumentMetadataConfigurations":{
          "shape":"DocumentMetadataConfigurationList",
          "documentation":"<p>Configuration settings for any metadata applied to the documents in the index.</p>"
        },
        "IndexStatistics":{
          "shape":"IndexStatistics",
          "documentation":"<p>Provides information about the number of FAQ questions and answers and the number of text documents indexed.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>When th e<code>Status</code> field value is <code>FAILED</code>, the <code>ErrorMessage</code> field contains a message that explains why.</p>"
        },
        "CapacityUnits":{
          "shape":"CapacityUnitsConfiguration",
          "documentation":"<p>For enterprise edtion indexes, you can choose to use additional capacity to meet the needs of your application. This contains the capacity units used for the index. A 0 for the query capacity or the storage capacity indicates that the index is using the default capacity for the index.</p>"
        },
        "UserTokenConfigurations":{
          "shape":"UserTokenConfigurationList",
          "documentation":"<p>The user token configuration for the Amazon Kendra index.</p>"
        },
        "UserContextPolicy":{
          "shape":"UserContextPolicy",
          "documentation":"<p>The user context policy for the Amazon Kendra index.</p>"
        }
      }
    },
    "DescribeThesaurusRequest":{
      "type":"structure",
      "required":[
        "Id",
        "IndexId"
      ],
      "members":{
        "Id":{
          "shape":"ThesaurusId",
          "documentation":"<p>The identifier of the thesaurus to describe.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index associated with the thesaurus to describe.</p>"
        }
      }
    },
    "DescribeThesaurusResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ThesaurusId",
          "documentation":"<p>The identifier of the thesaurus.</p>"
        },
        "IndexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index associated with the thesaurus to describe.</p>"
        },
        "Name":{
          "shape":"ThesaurusName",
          "documentation":"<p>The thesaurus name.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The thesaurus description.</p>"
        },
        "Status":{
          "shape":"ThesaurusStatus",
          "documentation":"<p>The current status of the thesaurus. When the value is <code>ACTIVE</code>, queries are able to use the thesaurus. If the <code>Status</code> field value is <code>FAILED</code>, the <code>ErrorMessage</code> field provides more information. </p> <p>If the status is <code>ACTIVE_BUT_UPDATE_FAILED</code>, it means that Amazon Kendra could not ingest the new thesaurus file. The old thesaurus file is still active. </p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>When the <code>Status</code> field value is <code>FAILED</code>, the <code>ErrorMessage</code> field provides more information. </p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix datetime that the thesaurus was created.</p>"
        },
        "UpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix datetime that the thesaurus was last updated.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>An AWS Identity and Access Management (IAM) role that gives Amazon Kendra permissions to access thesaurus file specified in <code>SourceS3Path</code>. </p>"
        },
        "SourceS3Path":{"shape":"S3Path"},
        "FileSizeBytes":{
          "shape":"Long",
          "documentation":"<p>The size of the thesaurus file in bytes.</p>"
        },
        "TermCount":{
          "shape":"Long",
          "documentation":"<p>The number of unique terms in the thesaurus file. For example, the synonyms <code>a,b,c</code> and <code>a=&gt;d</code>, the term count would be 4. </p>"
        },
        "SynonymRuleCount":{
          "shape":"Long",
          "documentation":"<p>The number of synonym rules in the thesaurus file.</p>"
        }
      }
    },
    "Description":{
      "type":"string",
      "max":1000,
      "min":0,
      "pattern":"^\\P{C}*$"
    },
    "Document":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"DocumentId",
          "documentation":"<p>A unique identifier of the document in the index.</p>"
        },
        "Title":{
          "shape":"Title",
          "documentation":"<p>The title of the document.</p>"
        },
        "Blob":{
          "shape":"Blob",
          "documentation":"<p>The contents of the document. </p> <p>Documents passed to the <code>Blob</code> parameter must be base64 encoded. Your code might not need to encode the document file bytes if you're using an AWS SDK to call Amazon Kendra operations. If you are calling the Amazon Kendra endpoint directly using REST, you must base64 encode the contents before sending.</p>"
        },
        "S3Path":{"shape":"S3Path"},
        "Attributes":{
          "shape":"DocumentAttributeList",
          "documentation":"<p>Custom attributes to apply to the document. Use the custom attributes to provide additional information for searching, to provide facets for refining searches, and to provide additional information in the query response.</p>"
        },
        "AccessControlList":{
          "shape":"PrincipalList",
          "documentation":"<p>Information to use for user context filtering.</p>"
        },
        "ContentType":{
          "shape":"ContentType",
          "documentation":"<p>The file type of the document in the <code>Blob</code> field.</p>"
        }
      },
      "documentation":"<p>A document in an index.</p>"
    },
    "DocumentAttribute":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{
          "shape":"DocumentAttributeKey",
          "documentation":"<p>The identifier for the attribute.</p>"
        },
        "Value":{
          "shape":"DocumentAttributeValue",
          "documentation":"<p>The value of the attribute.</p>"
        }
      },
      "documentation":"<p>A custom attribute value assigned to a document. </p>"
    },
    "DocumentAttributeKey":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"[a-zA-Z0-9_][a-zA-Z0-9_-]*"
    },
    "DocumentAttributeKeyList":{
      "type":"list",
      "member":{"shape":"DocumentAttributeKey"},
      "max":100,
      "min":1
    },
    "DocumentAttributeList":{
      "type":"list",
      "member":{"shape":"DocumentAttribute"}
    },
    "DocumentAttributeStringListValue":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "DocumentAttributeStringValue":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DocumentAttributeValue":{
      "type":"structure",
      "members":{
        "StringValue":{
          "shape":"DocumentAttributeStringValue",
          "documentation":"<p>A string, such as \"department\".</p>"
        },
        "StringListValue":{
          "shape":"DocumentAttributeStringListValue",
          "documentation":"<p>A list of strings. </p>"
        },
        "LongValue":{
          "shape":"Long",
          "documentation":"<p>A long integer value.</p>"
        },
        "DateValue":{
          "shape":"Timestamp",
          "documentation":"<p>A date expressed as an ISO 8601 string.</p>"
        }
      },
      "documentation":"<p>The value of a custom document attribute. You can only provide one value for a custom attribute.</p>"
    },
    "DocumentAttributeValueCountPair":{
      "type":"structure",
      "members":{
        "DocumentAttributeValue":{
          "shape":"DocumentAttributeValue",
          "documentation":"<p>The value of the attribute. For example, \"HR.\"</p>"
        },
        "Count":{
          "shape":"Integer",
          "documentation":"<p>The number of documents in the response that have the attribute value for the key.</p>"
        }
      },
      "documentation":"<p>Provides the count of documents that match a particular attribute when doing a faceted search.</p>"
    },
    "DocumentAttributeValueCountPairList":{
      "type":"list",
      "member":{"shape":"DocumentAttributeValueCountPair"}
    },
    "DocumentAttributeValueType":{
      "type":"string",
      "enum":[
        "STRING_VALUE",
        "STRING_LIST_VALUE",
        "LONG_VALUE",
        "DATE_VALUE"
      ]
    },
    "DocumentId":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DocumentIdList":{
      "type":"list",
      "member":{"shape":"DocumentId"},
      "max":10,
      "min":1
    },
    "DocumentList":{
      "type":"list",
      "member":{"shape":"Document"},
      "max":10,
      "min":1
    },
    "DocumentMetadataBoolean":{"type":"boolean"},
    "DocumentMetadataConfiguration":{
      "type":"structure",
      "required":[
        "Name",
        "Type"
      ],
      "members":{
        "Name":{
          "shape":"DocumentMetadataConfigurationName",
          "documentation":"<p>The name of the index field.</p>"
        },
        "Type":{
          "shape":"DocumentAttributeValueType",
          "documentation":"<p>The data type of the index field. </p>"
        },
        "Relevance":{
          "shape":"Relevance",
          "documentation":"<p>Provides manual tuning parameters to determine how the field affects the search results.</p>"
        },
        "Search":{
          "shape":"Search",
          "documentation":"<p>Provides information about how the field is used during a search.</p>"
        }
      },
      "documentation":"<p>Specifies the properties of a custom index field.</p>"
    },
    "DocumentMetadataConfigurationList":{
      "type":"list",
      "member":{"shape":"DocumentMetadataConfiguration"},
      "max":500,
      "min":0
    },
    "DocumentMetadataConfigurationName":{
      "type":"string",
      "max":30,
      "min":1
    },
    "DocumentsMetadataConfiguration":{
      "type":"structure",
      "members":{
        "S3Prefix":{
          "shape":"S3ObjectKey",
          "documentation":"<p>A prefix used to filter metadata configuration files in the AWS S3 bucket. The S3 bucket might contain multiple metadata files. Use <code>S3Prefix</code> to include only the desired metadata files.</p>"
        }
      },
      "documentation":"<p>Document metadata files that contain information such as the document access control information, source URI, document author, and custom attributes. Each metadata file contains metadata about a single document.</p>"
    },
    "Duration":{
      "type":"string",
      "max":10,
      "min":1,
      "pattern":"[0-9]+[s]"
    },
    "ErrorCode":{
      "type":"string",
      "enum":[
        "InternalError",
        "InvalidRequest"
      ]
    },
    "ErrorMessage":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^\\P{C}*$"
    },
    "ExcludeMimeTypesList":{
      "type":"list",
      "member":{"shape":"MimeType"},
      "max":30,
      "min":0
    },
    "ExcludeSharedDrivesList":{
      "type":"list",
      "member":{"shape":"SharedDriveId"},
      "max":100,
      "min":0
    },
    "ExcludeUserAccountsList":{
      "type":"list",
      "member":{"shape":"UserAccount"},
      "max":100,
      "min":0
    },
    "Facet":{
      "type":"structure",
      "members":{
        "DocumentAttributeKey":{
          "shape":"DocumentAttributeKey",
          "documentation":"<p>The unique key for the document attribute.</p>"
        }
      },
      "documentation":"<p>Information about a document attribute</p>"
    },
    "FacetList":{
      "type":"list",
      "member":{"shape":"Facet"}
    },
    "FacetResult":{
      "type":"structure",
      "members":{
        "DocumentAttributeKey":{
          "shape":"DocumentAttributeKey",
          "documentation":"<p>The key for the facet values. This is the same as the <code>DocumentAttributeKey</code> provided in the query.</p>"
        },
        "DocumentAttributeValueType":{
          "shape":"DocumentAttributeValueType",
          "documentation":"<p>The data type of the facet value. This is the same as the type defined for the index field when it was created.</p>"
        },
        "DocumentAttributeValueCountPairs":{
          "shape":"DocumentAttributeValueCountPairList",
          "documentation":"<p>An array of key/value pairs, where the key is the value of the attribute and the count is the number of documents that share the key value.</p>"
        }
      },
      "documentation":"<p>The facet values for the documents in the response.</p>"
    },
    "FacetResultList":{
      "type":"list",
      "member":{"shape":"FacetResult"}
    },
    "FaqFileFormat":{
      "type":"string",
      "enum":[
        "CSV",
        "CSV_WITH_HEADER",
        "JSON"
      ]
    },
    "FaqId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "FaqName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "FaqStatistics":{
      "type":"structure",
      "required":["IndexedQuestionAnswersCount"],
      "members":{
        "IndexedQuestionAnswersCount":{
          "shape":"IndexedQuestionAnswersCount",
          "documentation":"<p>The total number of FAQ questions and answers contained in the index.</p>"
        }
      },
      "documentation":"<p>Provides statistical information about the FAQ questions and answers contained in an index.</p>"
    },
    "FaqStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "UPDATING",
        "ACTIVE",
        "DELETING",
        "FAILED"
      ]
    },
    "FaqSummary":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"FaqId",
          "documentation":"<p>The unique identifier of the FAQ.</p>"
        },
        "Name":{
          "shape":"FaqName",
          "documentation":"<p>The name that you assigned the FAQ when you created or updated the FAQ.</p>"
        },
        "Status":{
          "shape":"FaqStatus",
          "documentation":"<p>The current status of the FAQ. When the status is <code>ACTIVE</code> the FAQ is ready for use.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The UNIX datetime that the FAQ was added to the index.</p>"
        },
        "UpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The UNIX datetime that the FAQ was last updated.</p>"
        },
        "FileFormat":{
          "shape":"FaqFileFormat",
          "documentation":"<p>The file type used to create the FAQ. </p>"
        }
      },
      "documentation":"<p>Provides information about a frequently asked questions and answer contained in an index.</p>"
    },
    "FaqSummaryItems":{
      "type":"list",
      "member":{"shape":"FaqSummary"}
    },
    "FeedbackToken":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^\\P{C}*.\\P{C}*$"
    },
    "GoogleDriveConfiguration":{
      "type":"structure",
      "required":["SecretArn"],
      "members":{
        "SecretArn":{
          "shape":"SecretArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a AWS Secrets Manager secret that contains the credentials required to connect to Google Drive. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-google-drive.html\">Using a Google Workspace Drive data source</a>.</p>"
        },
        "InclusionPatterns":{
          "shape":"DataSourceInclusionsExclusionsStrings",
          "documentation":"<p>A list of regular expression patterns that apply to path on Google Drive. Items that match the pattern are included in the index from both shared drives and users' My Drives. Items that don't match the pattern are excluded from the index. If an item matches both an inclusion pattern and an exclusion pattern, it is excluded from the index.</p>"
        },
        "ExclusionPatterns":{
          "shape":"DataSourceInclusionsExclusionsStrings",
          "documentation":"<p>A list of regular expression patterns that apply to the path on Google Drive. Items that match the pattern are excluded from the index from both shared drives and users' My Drives. Items that don't match the pattern are included in the index. If an item matches both an exclusion pattern and an inclusion pattern, it is excluded from the index.</p>"
        },
        "FieldMappings":{
          "shape":"DataSourceToIndexFieldMappingList",
          "documentation":"<p>Defines mapping between a field in the Google Drive and a Amazon Kendra index field.</p> <p>If you are using the console, you can define index fields when creating the mapping. If you are using the API, you must first create the field using the <a>UpdateIndex</a> operation.</p>"
        },
        "ExcludeMimeTypes":{
          "shape":"ExcludeMimeTypesList",
[...]
