{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-25",
    "endpointPrefix":"s3-outposts",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Amazon S3 Outposts",
    "serviceFullName":"Amazon S3 on Outposts",
    "serviceId":"S3Outposts",
    "signatureVersion":"v4",
    "signingName":"s3-outposts",
    "uid":"s3outposts-2017-07-25"
  },
  "operations":{
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/S3Outposts/CreateEndpoint"
      },
      "input":{"shape":"CreateEndpointRequest"},
      "output":{"shape":"CreateEndpointResult"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>S3 on Outposts access points simplify managing data access at scale for shared datasets in Amazon S3 on Outposts. S3 on Outposts uses endpoints to connect to Outposts buckets so that you can perform actions within your virtual private cloud (VPC). </p> <p>This action creates an endpoint and associates it with the specified Outpost. </p> <p/> <p>Related actions include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_DeleteEndpoint.html\">DeleteEndpoint</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_ListEndpoints.html\">ListEndpoints</a> </p> </li> </ul>"
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/S3Outposts/DeleteEndpoint"
      },
      "input":{"shape":"DeleteEndpointRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>S3 on Outposts access points simplify managing data access at scale for shared datasets in Amazon S3 on Outposts. S3 on Outposts uses endpoints to connect to Outposts buckets so that you can perform actions within your virtual private cloud (VPC). </p> <p>This action deletes an endpoint. </p> <p/> <p>Related actions include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_CreateEndpoint.html\">CreateEndpoint</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_ListEndpoints.html\">ListEndpoints</a> </p> </li> </ul>"
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/S3Outposts/ListEndpoints"
      },
      "input":{"shape":"ListEndpointsRequest"},
      "output":{"shape":"ListEndpointsResult"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>S3 on Outposts access points simplify managing data access at scale for shared datasets in Amazon S3 on Outposts. S3 on Outposts uses endpoints to connect to Outposts buckets so that you can perform actions within your virtual private cloud (VPC). </p> <p>This action lists endpoints associated with the Outpost. </p> <p/> <p>Related actions include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_CreateEndpoint.html\">CreateEndpoint</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_DeleteEndpoint.html\">DeleteEndpoint</a> </p> </li> </ul>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Access was denied for this action.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "CidrBlock":{
      "type":"string",
      "max":20,
      "min":1
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>There was a conflict with this action, and it could not be completed.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CreateEndpointRequest":{
      "type":"structure",
      "required":[
        "OutpostId",
        "SubnetId",
        "SecurityGroupId"
      ],
      "members":{
        "OutpostId":{
          "shape":"OutpostId",
          "documentation":"<p>The ID of the AWS Outpost. </p>"
        },
        "SubnetId":{
          "shape":"SubnetId",
          "documentation":"<p>The ID of the subnet in the selected VPC.</p>"
        },
        "SecurityGroupId":{
          "shape":"SecurityGroupId",
          "documentation":"<p>The ID of the security group to use with the endpoint.</p>"
        }
      }
    },
    "CreateEndpointResult":{
      "type":"structure",
      "members":{
        "EndpointArn":{
          "shape":"EndpointArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint.</p>"
        }
      }
    },
    "CreationTime":{"type":"timestamp"},
    "DeleteEndpointRequest":{
      "type":"structure",
      "required":[
        "EndpointId",
        "OutpostId"
      ],
      "members":{
        "EndpointId":{
          "shape":"EndpointId",
          "documentation":"<p>The ID of the end point.</p>",
          "location":"querystring",
          "locationName":"endpointId"
        },
        "OutpostId":{
          "shape":"OutpostId",
          "documentation":"<p>The ID of the AWS Outpost. </p>",
          "location":"querystring",
          "locationName":"outpostId"
        }
      }
    },
    "Endpoint":{
      "type":"structure",
      "members":{
        "EndpointArn":{
          "shape":"EndpointArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint.</p>"
        },
        "OutpostsId":{
          "shape":"OutpostId",
          "documentation":"<p>The ID of the AWS Outpost.</p>"
        },
        "CidrBlock":{
          "shape":"CidrBlock",
          "documentation":"<p>The VPC CIDR committed by this endpoint.</p>"
        },
        "Status":{
          "shape":"EndpointStatus",
          "documentation":"<p>The status of the endpoint.</p>"
        },
        "CreationTime":{
          "shape":"CreationTime",
          "documentation":"<p>The time the endpoint was created.</p>"
        },
        "NetworkInterfaces":{
          "shape":"NetworkInterfaces",
          "documentation":"<p>The network interface of the endpoint.</p>"
        }
      },
      "documentation":"<p>S3 on Outposts access points simplify managing data access at scale for shared datasets in Amazon S3 on Outposts. S3 on Outposts uses endpoints to connect to Outposts buckets so that you can perform actions within your virtual private cloud (VPC). </p>"
    },
    "EndpointArn":{
      "type":"string",
      "max":500,
      "min":5,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):s3-outposts:[a-z\\-0-9]*:[0-9]{12}:outpost/(op-[a-f0-9]{17}|ec2)/endpoint/[a-zA-Z0-9]{19}$"
    },
    "EndpointId":{
      "type":"string",
      "max":500,
      "min":5,
      "pattern":"^[a-zA-Z0-9]{19}$"
    },
    "EndpointStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE"
      ]
    },
    "Endpoints":{
      "type":"list",
      "member":{"shape":"Endpoint"}
    },
    "ErrorMessage":{"type":"string"},
    "InternalServerException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>There was an exception with the internal server.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "ListEndpointsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The next endpoint requested in the list.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The max number of endpoints that can be returned on the request.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListEndpointsResult":{
      "type":"structure",
      "members":{
        "Endpoints":{
          "shape":"Endpoints",
          "documentation":"<p>Returns an array of endpoints associated with AWS Outpost.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The next endpoint returned in the list.</p>"
        }
      }
    },
    "MaxResults":{
      "type":"integer",
      "max":100,
      "min":0
    },
    "NetworkInterface":{
      "type":"structure",
      "members":{
        "NetworkInterfaceId":{
          "shape":"NetworkInterfaceId",
          "documentation":"<p>The ID for the network interface.</p>"
        }
      },
      "documentation":"<p>The container for the network interface.</p>"
    },
    "NetworkInterfaceId":{
      "type":"string",
      "max":100,
      "min":1
    },
    "NetworkInterfaces":{
      "type":"list",
      "member":{"shape":"NetworkInterface"}
    },
    "NextToken":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^[A-Za-z0-9\\+\\:\\/\\=\\?\\#-_]+$"
    },
    "OutpostId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^(op-[a-f0-9]{17}|\\d{12}|ec2)$"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The requested resource was not found.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "SecurityGroupId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^sg-([0-9a-f]{8}|[0-9a-f]{17})$"
    },
    "SubnetId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^subnet-([0-9a-f]{8}|[0-9a-f]{17})$"
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>There was an exception validating this data.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    }
  },
  "documentation":"<p>Amazon S3 on Outposts provides access to S3 on Outposts operations.</p>"
}
