name: Test
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  formatter:
    name: runner / black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check files using the black formatter
        uses: rickstaa/action-black@v1
        id: action_black
        with:
          black_args: "."
      - name: Create Pull Request
        if: steps.action_black.outputs.is_formatted == 'true'
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "Format Python code with psf/black push"
          commit-message: ":art: Format Python code with psf/black"
          body: |
            There appear to be some python formatting errors in #${{ github.event.number }} - ${{ github.sha }}.
            This pull request uses the [psf/black](https://github.com/psf/black) formatter to fix these issues.
            `black .`
          base: ${{ github.head_ref }}
          branch: actions/black-${{ github.head_ref }}
  test:
    name: tests / ${{ matrix.lang }} tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        lang: [Python, R]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 2.x
      if: matrix.lang == 'Python'
      uses: actions/setup-python@v2
      with:
        python-version: '2.x'

    - name: Install Python 2.x dependencies
      if: matrix.lang == 'Python'
      run: |
        python2 -m pip install --upgrade pip
        python2 -m pip install tox

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'

    - name: Install Python 3.x dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install tox numpy
    
    - name: Set up R 4.1
      if: matrix.lang == 'R'
      uses: r-lib/actions/setup-r@v1
      with:
        r-version: '4.1.1'
    
    - name: Install R 4.1 system dependencies
      if: matrix.lang == 'R' && matrix.os == 'ubuntu-latest'
      run: sudo apt-get update; sudo apt-get install -y libcurl4-openssl-dev qpdf libgit2-dev

    - name: Install R 4.1 Rlang dependencies
      if: matrix.lang == 'R'
      run: |
        python3 -m pip install . 
        Rscript -e 'install.packages("devtools", repos="https://cloud.r-project.org", Ncpus=8)'
        Rscript -e 'devtools::install_deps("R", dependencies=TRUE, repos="https://cloud.r-project.org", upgrade="default")'
        R CMD INSTALL R
        Rscript -e 'install.packages(c("data.table", "caret", "glmnet", "Matrix", "rjson"), repos="https://cloud.r-project.org", Ncpus=8)'   

    - name: Execute R tests
      if: matrix.lang == 'R'
      run: |
        cd R/tests
        Rscript run_tests.R

    - name: Execute Python tests
      if: matrix.lang == 'python'
      run: tox
