name: Test Card UI builds

on:
  pull_request:
    branches:
      - master
    paths:
      - 'metaflow/plugins/cards/ui/**'

jobs:
  testbuild:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./metaflow/plugins/cards/ui
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
      - run: npm ci
      - run: npm run build
