name: Test
on:
  push:
    branches:
    - master
    - feature/kfp
    - feature/aip
    - feature/kfp-argo
  pull_request:
    branches:
    - master
    - feature/kfp
    - feature/aip
    - feature/kfp-argo
    - tz/AIP-7418-remove-create
    - tz/AIP-7773-argo-ftf
  workflow_call:
  
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - uses: pre-commit/action@v2.0.3

  Python:
    name: core / Python ${{ matrix.ver }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        ver: ['3.9','3.10',]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.ver }}

    - name: Install Python ${{ matrix.ver }} dependencies
      run: |
        python3 -m pip install --upgrade pip setuptools
        python3 -m pip install tox numpy black

    - name: Python Code Format Check
      run: black --target-version py39 --diff --check ./metaflow/plugins/aip/*.py

    - name: Execute Python tests
      run: tox
