name: Test
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  workflow_call:

permissions: read-all
  
jobs:
  pre-commit:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - uses: pre-commit/action@v2.0.3

  Python:
    name: core / Python ${{ matrix.ver }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-latest]
        ver: ['3.5', '3.6', '3.7', '3.8', '3.9', '3.10', '3.11',]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.ver }}

    - name: Install Python ${{ matrix.ver }} dependencies
      run: |
        python3 -m pip install --upgrade pip setuptools
        python3 -m pip install tox numpy

    - name: Execute Python tests
      run: tox

  R:
    name: core / R ${{ matrix.ver }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        ver: ['4.0']
   
    steps:
    - uses: actions/checkout@v2
    - name: Set up ${{ matrix.ver }}
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{ matrix.ver }}
    
    - name: Install R ${{ matrix.ver }} system dependencies
      if: matrix.os == 'ubuntu-20.04'
      run: sudo apt-get update; sudo apt-get install -y libcurl4-openssl-dev qpdf libgit2-dev libharfbuzz-dev libfribidi-dev

    - name: Install R ${{ matrix.ver }} Rlang dependencies
      run: |
        python3 -m pip install . 
        Rscript -e 'install.packages("devtools", repos="https://cloud.r-project.org", Ncpus=8)'
        Rscript -e 'devtools::install_deps("R", dependencies=TRUE, repos="https://cloud.r-project.org", upgrade="default")'
        R CMD INSTALL R
        Rscript -e 'install.packages(c("data.table", "caret", "glmnet", "Matrix", "rjson"), repos="https://cloud.r-project.org", Ncpus=8)'   

    - name: Execute R tests
      run: |
        cd R/tests
        Rscript run_tests.R


